
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Login_v15/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v15/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v15/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v15/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v15/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v15/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v15/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v15/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v15/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Login_v15/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Login_v15/css/main.css">
    <!--===============================================================================================-->
  


</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                @*<div class="login100-form-title" style="background-image: url(../Login_v15/images/bg-01.jpg);">*@
                <div class="login100-form-title">
                    <span class="login100-form-title-1">
                        eDCR
                    </span>
                </div>
                <form class="login100-form validate-form" action="/LoginRegistration/CheckUser" id="R1Form" method="post" name="H1Form">
                    <div class="flex-sb-m w-full p-b-30">Servier Bangladesh Ltd.</div>              
                     @Html.Raw(TempData["msg"])
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100">Username</span>
                        <input class="input100" type="text" name="UserID" id="UserID" placeholder="Enter username" maxlength="20" required>
                        @*<span class="focus-input100"></span>*@
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        @*<input class="input100" type="password" name="Password" placeholder="Enter password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>*@
                        <input class="input100" type="password" name="Password" id="Password" placeholder="Enter password" maxlength="20" required>
                        <span class="focus-input100"></span>
                    </div>


                    <div class="flex-sb-m w-full p-b-30">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Remember me
                            </label>
                        </div>

                        <div>
                            <a href="#" class="txt1">

                                @*Forgot Password?*@
                            </a>
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <button id="btnLogin" class="login100-form-btn" type="submit" onclick="return ClientSideValidation();">
                            Login
                        </button>


                    </div>


                    @*<div class="flex-sb-m w-full p-b-30">
            <strong>Copyright &copy;2020 <a href="http://www.e-home2u.com/">SQUARE InformatiX Limited</a>.</strong> All rights reserved.
        </div>*@
                </form>

            </div>
        </div>
    </div>

    <!--===============================================================================================-->
    <script src="~/Login_v15/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v15/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v15/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Login_v15/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v15/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v15/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Login_v15/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Login_v15/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>

    <script>

        ///*************Start Documnet Ready*************************//


        $(document).ready(function () {

            //alert("Okay");
            function ClientSideValidation() {

                if ($('#UserID').val() != null && $('#Password').val() != null) {
                    return true;
                }
                else {
                    return false;
                }
            }
            $("input[type=text]").focus(function () {        
                $("#msgDiv").html(""); //Clear operation Message  
                $("#msgDiv").hide();
            });

        
    //For Client side return then URL
    @*$("#R1Form").submit(function (event) {
            event.preventDefault();
            var master = {};
            master.UserID = $('#UserID').val();
            master.Password = $('#Password').val();
            var $form = $(this), url = $form.attr('action');

            $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify({ master: master }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                     if (data.Status == 'success') {
                            window.location.href = '@Url.Action("frmHome", "Home")';
                        }
                    else if (data.Status == 'failed') {
                         alert("UserID/Password mismatch!!!");
                    }
                    else {
                         alert("UserID/Password mismatch!!!");
                    }
                },
                error: function (xhr, Status, error) {
                    alert(xhr.responseText);
                }

            });
        });*@

    });
    </script>
</body>
</html>