@{
    //ViewBag.Title = "frmImportExcelToGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/CustomCSS/AutoComplete.css" rel="stylesheet" />

<div class="box-header with-border">
    @*Form Title*@
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> <div id="MessageText"></div></div>
        <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8">
            <div style="text-align:right;">

                <button id="btnTemplateDownload" class="btn btn-primary btn-sm" type="button"><i class="glyphicon glyphicon-refresh"></i> Template</button>
                <button id="btnReset" class="btn btn-primary btn-sm" type="button"><i class="glyphicon glyphicon-refresh"></i> Reset</button>
                <button id="btnSaveAll" class="btn btn-primary btn-sm" type="button"><i class="glyphicon glyphicon-save-file"></i> Save All</button>
                <button id="btnExcel" class="btn btn-primary btn-sm" type="button"><i class="glyphicon glyphicon-envelope"></i> Excel </button>
                <button id="btnView" class="btn btn-primary btn-sm" type="button"><i class="glyphicon glyphicon-file"></i> View</button>
            </div>
        </div>
    </div>
</div>
<div class="box-body">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Division Name :</div>
        <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
            <select id="DivisionCode" name="DivisionCode" class="RequiredField form-control"></select>
            @*<div class="autocomplete">
            <input class="RequiredField form-control" id="DivisionCode" type="text" name="DivisionCode" />
        </div>*@
        </div>
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"> </div>
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">Depot Name :</div>
        <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
            <select id="DepotCode" name="DepotCode" class="RequiredField form-control"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Region Name :</div>
        <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
            <select id="RegionCode" name="RegionCode" class="RequiredField form-control"></select>
        </div>
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"> </div>
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">Territory Name :</div>
        <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
            <select id="TerritoryCode" name="TerritoryCode" class="RequiredField form-control"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Market Name :</div>
        <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
            <select id="MarketCode" name="MarketCode" class="RequiredField form-control"></select>
        </div>
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"> </div>
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">SBU/Group :</div>
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">
            <select id="ProductGroup" name="ProductGroup" class="RequiredField form-control">
                <option value=""></option>
                <option value="A">R</option>
                <option value="B">G</option>
            </select>
        </div>
        <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1">
            <select id="MarketGroup" name="MarketGroup" class="RequiredField form-control">
                <option value="R1">R1</option>
                <option value="T">T</option>
                <option value="R">R</option>
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Employee ID :</div>
        <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
            <input type="text" id="EmployeeID" name="EmployeeID" class="RequiredField form-control">
        </div>
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"> </div>
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">Employee Name :</div>
        <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
            <input type="text" id="EmployeeName" name="EmployeeName" class="RequiredField form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Designation :</div>
        <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
            <select id="Designation" name="Designation" class="RequiredField form-control">
                <option value=""></option>
                <option value="MIO">MIO</option>
                <option value="SMIO">SMIO</option>
                <option value="RM">RM</option>
                <option value="ZM">ZM</option>
                <option value="PM">PM</option>
            </select>
        </div>
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"> </div>
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">Phone NO:</div>
        <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
            <input type="text" id="Phone" name="Phone" class="RequiredField form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2"></div>
        <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
        </div>
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"> </div>
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">
            <button id="btnSaveSingle" class="btn btn-primary btn-sm" type="button"><i class="glyphicon glyphicon-save-file"></i> Save Single</button>
        </div>
    </div>

 
    <br />

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2"><label for="myfile">Select a file:</label></div>
        <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
            <input type="file" id="myfile" name="myfile" class="files btn btn-primary btn-sm" accept=".xlsx"><br><br>

        </div>
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
        <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2"></div>
        <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="MainGrid" class="MainGrid">
                <div class="k-loading-mask" style="width:100%;height:100%">
                    <span class="k-loading-text">Loading...</span>
                    <div class="k-loading-image">
                        <div class="k-loading-color">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="~/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
<link href="~/Content/CustomCSS/InputText.css" rel="stylesheet" />
<script src="~/Scripts/CustomJS/AutoComplete.js"></script>
<script src="~/Scripts/xlsx_0.7.12_xlsx.full.min.js"></script>

<script type="text/javascript">
    //// Start  $(document).ready(function ()
    $(document).ready(function () {

        $.ajaxSetup({
            beforeSend: function () {
                $("#divLoading").show();
            },
            complete: function () {
                $("#divLoading").hide();
            }
        });
        $("#btnSaveAll").attr("disabled", true);
        $("#btnSaveSingle").attr("disabled", true);

        //upload change event
        $("#myfile").change(function (evt) {
         
            var file = evt.target.files[0] //retrieve the uploaded file
            fnConvertExcelToJSON(file)
        })
        function fnConvertExcelToJSON(file) { //method to convert excel to json
            var reader = new FileReader()
            reader.onload = function (event) {
                var data = event.target.result
                var workbook = XLSX.read(data, {
                    type: 'binary'
                });
                var json_object
                workbook.SheetNames.forEach(function (sheetName) {
                    var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName])
                    json_object = JSON.stringify(XL_row_object)
                    var jsonOutput = JSON.stringify(JSON.parse(json_object), undefined, 4)
                    // $('#jsonText').html(jsonOutput);
                    //alert(jsonOutput.length);

              
                    var obj = JSON.parse(jsonOutput);
                    $("#MainGrid").data("kendoGrid").dataSource.data(obj);

                    $("#btnSaveAll").attr("disabled", false);
                    $("#btnSaveSingle").attr("disabled", true);
                    toastr.success("Data uploaded on grid");
                })
            }
            reader.onerror = function (event) {
                console.error("File could not be read! Code " + event.target.error.code)
            }
            reader.readAsBinaryString(file);
        }
      
        $(".k-loading-mask").hide();

        LoadDivision();
        var Divisions = []
        function LoadDivision() {
            $.ajax({
                url: '/Default/GetDivision',
                type: 'get',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    Divisions = data;
                    //autocomplete(document.getElementById("DivisionCode"), Divisions.map(e => e.DivisionName));

                    $('#DivisionCode').empty();
                    $.each(data, function (i, item) {
                        if (i == 0) {
                            if (data.length > 1) {
                                $('#DivisionCode').append('<option value="" selected="selected"></option>');
                            }
                        }
                        $('#DivisionCode').append($('<option>', { value: item.DivisionCode, html: item.DivisionName }, '<option/>'));
                    });
                    if (data.length > 0) {
                        LoadDepot();
                    }
                },
                error: function () {
                    alert("Failed to load...");
                }
            });
        }

        function LoadDepot() {
            var model = {};
            model.DivisionCode = $('#DivisionCode').val();
            $.ajax({
                type: "POST",
                url: '/Default/GetDepot',
                data: JSON.stringify({ model: model }),
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#DepotCode').empty();
                    $.each(data, function (i, item) {
                        if (i == 0) {
                            if (data.length > 1) {
                                //$('#DepotCode').append('<option value="" selected="selected"></option>');
                                $('#DepotCode').append($('<option>', { value: item.DepotCode, html: item.DepotName }, '<option/>'));
                            }
                        }
                        $('#DepotCode').append($('<option>', { value: item.DepotCode, html: item.DepotName }, '<option/>'));
                    });
                    if (data.length > 0) {
                        LoadRegion($('#DepotCode').val());
                    }
                },
                error: function () {
                    alert("Failed to load...");
                }
            });
        }
        function LoadRegion(DepotCode) {
            var model = {};
            model.DepotCode = DepotCode;
            $.ajax({
                type: "POST",
                url: '/Default/GetRegion',
                data: JSON.stringify({ model: model }),
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#RegionCode').empty();
                    $.each(data, function (i, item) {
                        if (i == 0) {
                            if (data.length > 1) {
                                LoadTerritory($('#RegionCode').val());
                                $('#RegionCode').append('<option value="" selected="selected"></option>');
                            }
                        }
                        $('#RegionCode').append($('<option>', { value: item.RegionCode, html: item.RegionName }, '<option/>'));

                    });
                    if (data.length > 0) {
                        LoadTerritory($('#RegionCode').val());
                    }
                },
                error: function () {
                    alert("Failed to load...");
                }
            });
        }
        function LoadTerritory(RegionCode) {
            var model = {};
            model.RegionCode = RegionCode;
            $.ajax({
                type: "POST",
                url: '/Default/GetTerritory',
                data: JSON.stringify({ model: model }),
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#TerritoryCode').empty();
                    $.each(data, function (i, item) {
                        if (i == 0) {
                            if (data.length > 1) {
                                LoadMarket($('#TerritoryCode').val());
                                $('#TerritoryCode').append('<option value="" selected="selected"></option>');
                            }
                        }
                        $('#TerritoryCode').append($('<option>', { value: item.TerritoryCode, html: item.TerritoryName }, '<option/>'));
                    });
                    if (data.length > 0) {
                        LoadMarket($('#TerritoryCode').val());
                    }
                },
                error: function () {
                    alert("Failed to load...");
                }
            });
        }
        function LoadMarket(TerritoryCode) {
            var model = {};
            model.TerritoryCode = TerritoryCode;
            $.ajax({
                type: "POST",
                url: '/Default/GetMarket',
                data: JSON.stringify({ model: model }),
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#MarketCode').empty();
                    $.each(data, function (i, item) {
                        if (i == 0) {
                            if (data.length > 1) {
                                $('#MarketCode').append('<option value="" selected="selected"></option>');
                            }
                        }
                        $('#MarketCode').append($('<option>', { value: item.MarketCode, html: item.MarketName }, '<option/>'));
                    });
                },
                error: function () {
                    alert("Failed to load...");
                }
            });
        }
        $('#DivisionCode').on('change', function () {
            $('#DepotCode').empty();
            $('#RegionCode').empty();
            $('#TerritoryCode').empty();
            $('#MarketCode').empty();
            LoadDepot();
        })
        //.trigger('change');

        $('#DepotCode').on('change', function () {

            $('#RegionCode').empty();
            $('#TerritoryCode').empty();
            $('#MarketCode').empty();
            LoadRegion($('#DepotCode').val());
        })
        //.trigger('change');

        $('#RegionCode').on('change', function () {

            $('#TerritoryCode').empty();
            $('#MarketCode').empty();

            LoadTerritory($('#RegionCode').val());
        })
        //.trigger('change');

        $('#TerritoryCode').on('change', function () {

            $('#MarketCode').empty();
            LoadMarket($('#TerritoryCode').val());
        })
        //.trigger('change');

        EventPermission();
        $('#btnReset').click(function () {

            $('#MainGrid').data('kendoGrid').dataSource.filter([]);
            $('#MainGrid').data('kendoGrid').dataSource.data([]);


            $("#files").val('');
            $(".txtBox").css("border-color", "");
            $(".k-upload-files").remove();
            $(".k-upload-status").remove();
            $(".k-upload.k-header").addClass("k-upload-empty");
            $(".k-upload-button").removeClass("k-state-focused");
            ResetData();

            $('#DepotCode').empty();
            $('#RegionCode').empty();
            $('#TerritoryCode').empty();
            $('#MarketCode').empty();

        });
        $('#btnTemplateDownload').click(function () {
            $.ajax({
                url: '/HRDataUpload/TemplateDownload',
                method: 'POST',
                data: JSON.stringify({}),
                dataType: 'JSON',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data != "") {
                        window.location.href = "/HRDataUpload/Download/?fileName=" + data.fileName;
                    }
                    else {
                        AcknowledgeMsg();
                        toastr.warning($("#MessageText").html());
                    }

                },
                error: function () {
                    alert('Error occured!');
                },
            });
        });
        $('#btnExcel').click(function () {
            $("#MainGrid").getKendoGrid().saveAsExcel();
        });

        //***************view function*****************
        $('#btnView').click(function () {
            $(".k-loading-mask").show();


             $('#MainGrid').data('kendoGrid').dataSource.filter([]);
            $('#MainGrid').data('kendoGrid').dataSource.data([]);

            $.ajax({
                type: "Get",
                url: "/HRDataUpload/GetGridData",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data != null) {
                        $("#MainGrid").data("kendoGrid").dataSource.data(data);
                        $(".k-loading-mask").hide();
                    }
                    else {
                        AcknowledgeMsg();
                        toastr.warning("No Record Found!");
                    }
                },

            });

        });


     //Initializing Main page details Kendo Grid Colums
        var MainGrid = $('#MainGrid').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "EmployeeID",
                        fields: {
                            EmployeeID: { type: "string" },
                            EmployeeName: { type: "string" },
                            Designation: { type: "string" },
                            Phone: { type: "string" },
                            ProductGroup: { type: "string" },
                            MarketGroup: { type: "string" },
                            MarketCode: { type: "string" },
                            MarketName: { type: "string" },
                            TerritoryCode: { type: "string" },
                            TerritoryName: { type: "string" },
                            RegionCode: { type: "string" },
                            RegionName: { type: "string" },
                            DepotCode: { type: "string" },
                            DepotName: { type: "string" },
                            DivisionCode: { type: "string" },
                            DivisionName: { type: "string" }                        

                        }
                    }
                },
                pageSize: 10,
            }),
            pageable: {
                //refresh: true,
                pageSizes: true, buttonCount: 5
            },
            dataBound: function (e) {
                AutoFitColumn(this.element[0].id);

            },
            scrollable: true,
            sortable: true,
            filterable: false,
            editable: false,
            selectable: "row",
            //selectable: "multiple",
            toolbar: [{ template: "<input type='text' id='txtDesignation'  style='float:right' placeholder='Designation...' class='k-textbox'>" }, { template: "<input type='text' id='txtMarketCode'  style='float:right' placeholder='MarketCode...' class='k-textbox'>" }, { template: "<input type='text' id='txtEmpName'  style='float:right' placeholder='Emp Name...' class='k-textbox'>" }, { template: "<input type='text' id='txtEmpId'  style='float:right' placeholder='Emp Id...' class='k-textbox'>" },],
           // toolbar: [{ name: "excel", text: "Format" }, { template: "<input type='text' id='txtMPO'  style='float:right' placeholder='Search...' class='k-textbox'>" },],            //excel: {
            //    fileName: "UploadFileFormat.xlsx",
            //    allPages: true,
            //    filterable: true
            //},
            excel: {
                fileName: "HR.xlsx",
                allPages: true,
                filterable: true
            },
            navigatable: true,
            height: 400,
            //groupable: true,
            //groupable: { messages: { empty: "Tour Plan" } },
            columnMenu: false,
            reorderable: false,
            resizable: false,
            resize: function (e) {
                this.table.height(this.element.height() + this.table.height() - 1);
            },
            columns: [

                 { field: "EmployeeID", hidden: false, title: "EmployeeID" },
                 { field: "EmployeeName", hidden: false, title: "EmployeeName" },
                 { field: "Designation", hidden: false, title: "Designation" },
                 { field: "Phone", hidden: false, title: "Phone" },
                 { field: "ProductGroup", hidden: false, title: "ProductGroup" },
                 { field: "MarketGroup", hidden: false, title: "MarketGroup" },
                 { field: "MarketCode", hidden: false, title: "MarketCode" },
                 { field: "MarketName", hidden: false, title: "MarketName" },
                 { field: "TerritoryCode", hidden: false, title: "TerritoryCode" },
                 { field: "TerritoryName", hidden: false, title: "TerritoryName" },
                 { field: "RegionCode", hidden: false, title: "RegionCode" },
                 { field: "RegionName", hidden: false, title: "RegionName" },
                 { field: "DepotCode", hidden: false, title: "DepotCode" },
                 { field: "DepotName", hidden: false, title: "DepotName" },
                 { field: "DivisionCode", hidden: false, title: "DivisionCode" },
                 { field: "DivisionName", hidden: false, title: "DivisionName" },
            ]
        }).data('kendoGrid');

        // Filter table row
        $("#txtEmpId").keyup(function () {
            var val = $(this).val();
            $("#MainGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                    { field: "EmployeeID", operator: "contains", value: val },
      
                ]
            });
        });
        $("#txtMarketCode").keyup(function () {
            var val = $(this).val();
            $("#MainGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                    { field: "MarketCode", operator: "contains", value: val },
                  
                ]
            });
        });
        $("#txtDesignation").keyup(function () {
            var val = $(this).val();
            $("#MainGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                 
                    { field: "Designation", operator: "contains", value: val },
                 
                ]
            });
        });
        $("#txtEmpName").keyup(function () {
            var val = $(this).val();
            $("#MainGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [

                    { field: "EmployeeName", operator: "contains", value: val },

                ]
            });
        });
        var FileType = "";
        //************************************ END *****************************************//

        function GridValidation2() {
            gridInput = 0;
            var dataSource = $("#MainGrid").data("kendoGrid").dataSource;
            data = dataSource.data(); // Get Detail Grid Data
            if (data.length > 0) {
                for (var i = data.length - 1; i >= 0; i--) {
                    if ((data[i].EmpID == "") || (data[i].EmpID == null)) {
                        gridInput = 0;
                    }
                }
            }
            else {
                gridInput = 1;
            }
        }

        var model = { "FileType": "", "hRDataUploadMPOList": [] };

        $('#btnSaveAll').click(function () {
            GridValidation2();
            if ( gridInput == 0) {
                model.hRDataUploadMPOList = [];

                    var detailDataMPO = $('#MainGrid').data("kendoGrid").dataSource;
                    var detailData = detailDataMPO.data();
                    if (detailData.length > 0) {

                        for (var i = 0; i < detailData.length; i++) {
                            var detailMPO = {};
                            detailMPO.EmployeeID = detailData[i].EmployeeID;
                            detailMPO.EmployeeName = detailData[i].EmployeeName;
                            detailMPO.Phone = detailData[i].Phone;
                            detailMPO.Designation = detailData[i].Designation;

                            detailMPO.ProductGroup = detailData[i].ProductGroup;
                            detailMPO.MarketGroup = detailData[i].MarketGroup;
                            detailMPO.MarketCode = detailData[i].MarketCode;
                            detailMPO.MarketName = detailData[i].MarketName;
                            detailMPO.TerritoryCode = detailData[i].TerritoryCode;
                            detailMPO.TerritoryName = detailData[i].TerritoryName;
                            detailMPO.RegionCode = detailData[i].RegionCode;
                            detailMPO.RegionName = detailData[i].RegionName;
                            detailMPO.DepotCode = detailData[i].DepotCode;
                            detailMPO.DepotName = detailData[i].DepotName;
                            detailMPO.DivisionCode = detailData[i].DivisionCode;
                            detailMPO.DivisionName = detailData[i].DivisionName;
                            model.hRDataUploadMPOList.push(detailMPO);
                        }
                    }

                $.ajax({
                    url: '/HRDataUpload/OperationsMode',
                    data: JSON.stringify(model),
                    type: 'POST',
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function (data) {
                        if (data.Status == "Yes") {
                            //$("#FormID").val(data.ID);
                            OperationMsg(data.Mode);
                            toastr.success($("#MessageText").html());
                        }
                        else {
                            ErrorFrmServerMsg(data.Status);
                            toastr.warning($("#MessageText").html());
                        }

                    },
                    error: function () {
                        ErrorFrmClientMsg();
                        toastr.warning($("#MessageText").html());
                    },
                    // complete: function () { CompletedMsg(); },
                }); //End of ajax call

                //}
            }

            else {
                ValidationMsg();
                toastr.warning($("#MessageText").html());
            }
        });
        $('#btnSaveSingle').click(function () {
         
            var Input = InputValidation('EmployeeID') + InputValidation('EmployeeName')+ InputValidation('Designation')+ InputValidation('ProductGroup') + InputValidation('MarketGroup')    + InputValidation('DivisionCode');
            if ($("#Designation").val() == "MIO" || $("#Designation").val() == "SMIO")
            {
                Input = Input + InputValidation('MarketCode') + InputValidation('TerritoryCode') + InputValidation('RegionCode');
            }
            if ($("#Designation").val() == "RM" ) {
                Input = Input + InputValidation('TerritoryCode') + InputValidation('RegionCode');
            }
            if ($("#Designation").val() == "ZM") {
                Input = Input + InputValidation('RegionCode');
            }
            
            if (Input == 0) {

                model.hRDataUploadMPOList = [];
                        var detailMPO = {};
                        detailMPO.EmployeeID = $("#EmployeeID").val();
                        detailMPO.EmployeeName = $("#EmployeeName").val();
                        detailMPO.Phone = $("#Phone").val();
                        detailMPO.Designation = $("#Designation").val();

                        detailMPO.ProductGroup = $("#ProductGroup").val();
                        detailMPO.MarketGroup = $("#MarketGroup").val();

                        detailMPO.MarketCode = $("#MarketCode").val();
                        detailMPO.MarketName = $("#MarketCode option:selected").text();

                        detailMPO.TerritoryCode = $("#TerritoryCode").val();
                        detailMPO.TerritoryName = $("#TerritoryCode option:selected").text()

                        detailMPO.RegionCode = $("#RegionCode").val();
                        detailMPO.RegionName = $("#RegionCode option:selected").text()

                        detailMPO.DepotCode = $("#DepotCode").val();
                        detailMPO.DepotName = $("#DepotCode option:selected").text()

                        detailMPO.DivisionCode = $("#DivisionCode").val();
                        detailMPO.DivisionName = $("#DivisionCode option:selected").text()
                        model.hRDataUploadMPOList.push(detailMPO);



                $.ajax({
                    url: '/HRDataUpload/OperationsMode',
                    data: JSON.stringify(model),
                    type: 'POST',
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function (data) {
                        if (data.Status == "Yes") {
                            //$("#FormID").val(data.ID);
                            OperationMsg(data.Mode);
                            toastr.success($("#MessageText").html());
                        }
                        else {
                            ErrorFrmServerMsg(data.Status);
                            toastr.warning($("#MessageText").html());
                        }

                    },
                    error: function () {
                        ErrorFrmClientMsg();
                        toastr.warning($("#MessageText").html());
                    },
                    // complete: function () { CompletedMsg(); },
                }); //End of ajax call

                //}
            }

            else {
                ValidationMsg();
                toastr.warning($("#MessageText").html());
            }
        });
        $("#MainGrid").click(function () {

            var gridData = $("#MainGrid").data("kendoGrid");
            var selectedItem = (gridData.dataItem(gridData.select())); //Selected Row

            $("#EmployeeID").val(selectedItem.EmployeeID);
            $("#EmployeeName").val(selectedItem.EmployeeName);
            $("#Designation").val(selectedItem.Designation);
            $("#Phone").val(selectedItem.Phone);
            $('#DivisionCode').val(selectedItem.DivisionCode);

            $('#DepotCode').append($('<option>', { value: selectedItem.DepotCode, html: selectedItem.DepotName }, '<option/>'));
            $('#RegionCode').append($('<option>', { value: selectedItem.RegionCode, html: selectedItem.RegionName }, '<option/>'));
            $('#TerritoryCode').append($('<option>', { value: selectedItem.TerritoryCode, html: selectedItem.TerritoryName }, '<option/>'));
            $('#MarketCode').append($('<option>', { value: selectedItem.MarketCode, html: selectedItem.MarketName }, '<option/>'));

            $("#ProductGroup").val(selectedItem.ProductGroup);
            $("#MarketGroup").val(selectedItem.MarketGroup);

            $("#btnSaveAll").attr("disabled", true);
            $("#btnSaveSingle").attr("disabled", false);
        });

    });

</script>
