@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
<link href="~/Content/CSS/InputText.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
        $.ajaxSetup({
            beforeSend: function () {
                $("#divLoading").show();
            },
            complete: function () {
                $("#divLoading").hide();
            }
        });
        EventPermission();
        LoadRole();
        LoadUserType();
        // LoadEmployee();
        function LoadRole() {
            $.ajax({
                url: '/UserInRoleAll/GetRoleAll',
                type: 'GET',
                dataType: 'JSON',
                data: "{}",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $.each(data, function (i, item) {
                        $('#RoleID').append($('<option>', { value: item.RoleID, html: item.RoleName }, '<option/>'));
                    });
                },

                error: function () {
                    alert("Failed to load...");
                }
            });
        }
        function LoadUserType() {
            $.ajax({
                url: '/UserInRoleAll/GetUserType',
                type: 'GET',
                dataType: 'JSON',
                data: "{}",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $.each(data, function (i, item) {
                        $('#UserType').append($('<option>', { value: item.DataOwner, html: item.DataOwner }, '<option/>'));
                    });
                },
                error: function () {
                    alert("Failed to load...");
                }
            });
        }
        function EmployeeEmpty() {
            $('#EmpID').multiselect('deselectAll', false);
            $('#EmpID').multiselect('selectAll', true);
            $('#EmpID').multiselect('updateButtonText');
            $('#EmpID').empty();
            $('#EmpID').multiselect('refresh');
            $('#EmpID').multiselect('rebuild');
            //$('#EmpID').append($('<option>', { value: "", html: "" }, '<option/>')).multiselect('rebuild');
        }
        $("#EmpID").multiselect({ enableFiltering: true, maxHeight: 200 }).trigger('reset');
        EmployeeEmpty();
        function LoadEmployee() {
            $.ajax({
                url: '/UserInRoleAll/GetEmployeeAll',
                type: 'GET',
                dataType: 'JSON',
                data: "{}",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $.each(data, function (i, item) {
                        $('#EmpID').append($('<option>', { value: item.EmpID, html: item.EmpName }, '<option/>')).multiselect('rebuild');
                    });
                },
                error: function () {
                    alert("Failed to load...");
                }
            });
        }
        $('#btnReset').click(function () {
            $("#EmpID").val('').trigger('change');
            ResetData();
            $('#MainGrid').data('kendoGrid').dataSource.filter([]);
            $('#MainGrid').data('kendoGrid').dataSource.data([]);
        });
        $('#btnView').click(function () {
            $('#MainGrid').data('kendoGrid').dataSource.filter([]);
            $('#MainGrid').data('kendoGrid').dataSource.data([]);
            $.ajax({
                type: "POST",
                url: '/UserInRoleAll/GetUserInRoleAll',
                data: JSON.stringify({ UserType: $('#UserType').val() }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data != "") {
                        $('#MainGrid').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        AcknowledgeMsg();
                        toastr.info($("#MessageText").html());
                    }
                },
                error: function () {
                    alert('Error occured!');
                },
                //complete: function () { },
            });

        });

        var PopupWindowAll = $("#PopupWindowAll").kendoWindow({
            width: "80%",
            height: "80%",
            draggable: true,
            modal: true,
            resizable: true,
            title: "List",
        }).data("kendoWindow");


        $('#btnAllRelationalData').click(function () {

            PopupWindowAll.center();
            PopupWindowAll.open();
            $.ajax({
                url: '/UserInRoleAll/GetAllRelationalData',
                method: 'get',
                data: 'json',
                success: function (data) {
                    if (data != "") {
                        $('#PopupWindowGrid').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        PopupWindowAll.close();
                        AcknowledgeMsg();
                        toastr.info($("#MessageText").html());
                    }
                },
                error: function () {
                    alert('Error occured!');
                },
                //complete: function () { },
            });

        });

        //Initializing Main page details Kendo Grid Colums
        var MainGrid = $('#MainGrid').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "EmpID",
                        fields: {
                            EmpID: { type: "string" },
                        }
                    }
                },
                pageSize: 10,
            }),
            pageable: {
                //refresh: true,
                pageSizes: true, buttonCount: 5
            },
            dataBound: function (e) {
                AutoFitColumn(this.element[0].id);
            },
            scrollable: true,
            sortable: false,
            filterable: false,
            editable: false,
            selectable: "row",
            //selectable: "multiple",


            toolbar: ["excel", { template: "<input type='text' id='txtInput'  style='float:right' placeholder='Search...' class='k-textbox'>" }],
            excel: {
                fileName: "User.xlsx",
                allPages: true,
                filterable: true
            },
            navigatable: true,
            columnMenu: false,
            reorderable: false,
            resizable: false,
            resize: function (e) {
                this.table.height(this.element.height() + this.table.height() - 1);
            },
            columns: [

                { field: "EmpID", title: "EmpID" },
                { field: "EmpName", title: "EmpName" },
                { field: "DataOwner", title: "DataOwner" },
                { field: "YetAssigned", title: "YetAssigned" },
            ]

        }).data('kendoGrid');






        //Produc Name twise Filter table row
        $("#txtInput").keyup(function () {
            var val = $(this).val();
            $("#MainGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                    { field: "EmpID", operator: "contains", value: val },
                    { field: "EmpName", operator: "contains", value: val },
                    { field: "YetAssigned", operator: "contains", value: val },
                ]
            });
        });



        //Initializing Main page details Kendo Grid Colums
        var PopupGrid = $('#PopupWindowGrid').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "DivisionCode",
                        fields: {
                            DivisionCode: { type: "string" },
                        }
                    }
                },
                pageSize: 10,
            }),
            pageable: {    
                pageSizes: true, buttonCount: 5
            },
            dataBound: function (e) {
                AutoFitColumn(this.element[0].id);
            },
            scrollable: true,
            sortable: false,
            filterable: false,
            editable: false,
            selectable: "row",
            toolbar: ["excel",{ template: "<input type='text' id='txtPopupInputMarketCode'  style='float:right' placeholder='Market Code...' class='k-textbox'>" }, { template: "<input type='text' id='txtPopupInputDsmId'  style='float:right' placeholder='Dsm Id...' class='k-textbox'>" }, { template: "<input type='text' id='txtPopupInputRsmId'  style='float:right' placeholder='Rsm Id...' class='k-textbox'>" }, { template: "<input type='text' id='txtPopupInputTmId'  style='float:right' placeholder='Tm Id...' class='k-textbox'>" }, { template: "<input type='text' id='txtPopupInputMpoCode'  style='float:right' placeholder='Mpo Code...' class='k-textbox'>" },],
            excel: {
                fileName: "UserAll.xlsx",
                allPages: true,
                filterable: true
            },
            navigatable: true,
            columnMenu: false,
            reorderable: false,
            resizable: false,
            resize: function (e) {
                this.table.height(this.element.height() + this.table.height() - 1);
            },
            columns: [
                { field: "MpoCode", title: "MpoCode", hidden: false },
                { field: "MpoPassword", title: "Password" },
                { field: "MpoName", title: "Mpo" },
                { field: "MPGroup", title: "MP Group", hidden: false },
                { field: "TmId", title: "Tm Id", hidden: false },
                { field: "TmPassword", title: "Password" },
                { field: "TmName", title: "Tm" },
                { field: "RsmId", title: "Rsm Id", hidden: false },
                { field: "RsmPassword", title: "Password" },
                { field: "RsmName", title: "Rsm" },
                { field: "DsmId", title: "Dsm Id", hidden: false },
                { field: "DsmPassword", title: "Password" },
                { field: "DsmName", title: "Dsm" },
                { field: "MarketCode", title: "Market Code", hidden: false },
                { field: "MarketName", title: "Market" },
                { field: "TerritoryCode", title: "Territory<br/>Code", hidden: false },
                { field: "TerritoryName", title: "Territory" },
                { field: "RegionCode", title: "Region<br/>Code", hidden: false },
                { field: "RegionName", title: "Region" },
                { field: "DivisionCode", title: "Div<br/>Code", hidden: false },
                { field: "DivisionName", title: "Division" },
            ]

        }).data('kendoGrid');

        //Produc Name twise Filter table row
        $("#txtPopupInputMpoCode").keyup(function () {
            var val = $(this).val();
            $("#PopupWindowGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [{ field: "MpoCode", operator: "contains", value: val }]
            });
        });
        $("#txtPopupInputMarketCode").keyup(function () {
            var val = $(this).val();
            $("#PopupWindowGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [{ field: "MarketCode", operator: "contains", value: val }]
            });
        });

        $("#txtPopupInputTmId").keyup(function () {
            var val = $(this).val();
            $("#PopupWindowGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [{ field: "TmId", operator: "contains", value: val }]
            });
        });
        $("#txtPopupInputRsmId").keyup(function () {
            var val = $(this).val();
            $("#PopupWindowGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [{ field: "RsmId", operator: "contains", value: val }]
            });
        });
        $("#txtPopupInputDsmId").keyup(function () {
            var val = $(this).val();
            $("#PopupWindowGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [{ field: "DsmId", operator: "contains", value: val }]
            });
        });

        $('#btnSendEmail').click(function () {
            var master = {};
            $.ajax({
                url: '/UserInRoleAll/SendEmail',
                data: JSON.stringify(master),
                type: 'POST',
                contentType: 'application/json;',
                dataType: 'json',
                success: function (data) {
                    if (data.Status == "Yes") {           
                        toastr.success($("#MessageText").html());
                    }
                    else {                      
                        toastr.warning($("#MessageText").html());
                    }

                },
                error: function () {
               
                },           
            }); //End of ajax call
        });


        $('#btnSave').click(function () {
            var Input = InputValidation('RoleID');
            if (Input == 0) {
                // var MainGrid = $("#MainGrid").data("kendoGrid").dataSource;
                var dataSource = $("#MainGrid").data("kendoGrid").dataSource;
                var filters = dataSource.filter();
                var allData = dataSource.data();
                var query = new kendo.data.Query(allData);
                var data = query.filter(filters).data;
                // var mdata = data.data();
                master.ListAll = [];
                //if (mdata.length > 0) {
                //    for (var i = 0; i < mdata.length; i++) {
                for (var i = data.length - 1; i >= 0; i--) {

                    var detail = {};
                    detail.EmpID = data[i].EmpID;
                    detail.EmpName = data[i].EmpName;
                    detail.RoleID = $('#RoleID').val();
                    detail.UserID = data[i].EmpID;// $('#EmpID').val();
                    detail.IsActive = "true";
                    detail.Password = data[i].EmpID;
                    master.ListAll.push(detail);

                }
                //}

                $.ajax({
                    url: '/UserInRoleAll/OperationsMode',
                    data: JSON.stringify(master),
                    type: 'POST',
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function (data) {
                        if (data.Status == "Yes") {
                            $("#RoleID").val(data.ID);
                            OperationMsg(data.Mode);
                            toastr.success($("#MessageText").html());
                        }
                        else {
                            ErrorFrmServerMsg(data.Status);
                            toastr.warning($("#MessageText").html());
                        }

                    },
                    error: function () {
                        ErrorFrmClientMsg();
                        toastr.warning($("#MessageText").html());
                    },
                    // complete: function () { CompletedMsg(); },
                }); //End of ajax call
            }
            else {
                ValidationMsg();
                toastr.info($("#MessageText").html());
            }

        });
      

        var master = { "ListAll": [] };


    });
</script>



<div class="box-header with-border">
    @*Form Title*@
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> <div id="MessageText"></div></div>
    <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8">
        <div style="text-align:right;">
            <button id="btnReset" class="btn btn-primary btn-sm" type="button"><i class="glyphicon glyphicon-refresh"></i>Reset</button>
            <button id="btnSave" class="btn btn-primary btn-sm" type="button"><i class="glyphicon glyphicon-save-file"></i>Save</button>
            <button id="btnView" class="btn btn-primary btn-sm" type="button"><i class="glyphicon glyphicon-search"></i>View</button>
            <button id="btnAllRelationalData" class="btn btn-primary btn-sm" type="button"><i class="glyphicon glyphicon-search"></i>All Relational Data</button>
            <button id="btnSendEmail" class="btn btn-primary btn-sm" type="button"><i class="glyphicon glyphicon-save-file"></i>Send Email</button>
        </div>
    </div>

</div>

<div class="box-body">
    @*Form Body Content*@
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">Role:</div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"> <select id="RoleID" class="RoleID RequiredField form-control"><option> </option></select></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">User Type:</div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"> <select id="UserType" class="UserType RequiredField form-control"><option> </option></select></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">Employee:</div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3"> <select id="EmpID" class="EmpID RequiredField form-control" multiple="multiple"> @*<option> </option>*@ </select></div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="MainGrid" class="MainGrid"></div>

        </div>
    </div>



    <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
                        top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
                        opacity: .8; filter: alpha(opacity=70);display:none">
        <p style="position: absolute; top: 50%; left: 50%; color: White;">
            <img src="~/Content/Images/loading.gif" />
        </p>
    </div>

</div>
<div class="box-footer">@*Form Footer*@</div>
<div class="row">
    <div id="PopupWindowAll" class="PopupWindowAllLayout" style="display: none;">
        <div id="PopupWindowGrid" class="PopUpGrid"></div>
    </div>
</div>


