.vs/*
bin/*.dll
!bin/Systems.dll
obj
*.v2
*.cache
*.suo
/eDCR/bin/System.Web.Webpages.Deployment.xml
/eDCR/bin/System.Web.Webpages.dll
/eDCR/bin/System.Web.Webpages.Razor.dll
/eDCR/bin/System.Web.Webpages.Razor.xml
/eDCR/bin/System.Web.Webpages.xml
/eDCR/bin/ClosedXML.dll
/eDCR/bin/ClosedXML.pdb
/eDCR/bin/ClosedXML.xml
/eDCR/bin/CrystalDecisions.CrystalReports.Engine.dll
/eDCR/bin/CrystalDecisions.ReportSource.dll
/eDCR/bin/CrystalDecisions.Shared.dll
/eDCR/bin/DocumentFormat.OpenXml.dll
/eDCR/bin/DocumentFormat.OpenXml.xml
/eDCR/bin/eDCR.dll
/eDCR/bin/eDCR.dll.config
/eDCR/bin/eDCR.pdb
/eDCR/bin/ExcelNumberFormat.dll
/eDCR/bin/ExcelNumberFormat.xml
/eDCR/bin/FastMember.dll
/eDCR/bin/itextsharp.dll
/eDCR/bin/itextsharp.xml
/eDCR/bin/Microsoft.Web.Infrastructure.dll
/eDCR/bin/Newtonsoft.Json.dll
/eDCR/bin/Newtonsoft.Json.xml
/eDCR/bin/System.dll
/eDCR/bin/System.Net.Http.Formatting.dll
/eDCR/bin/System.Net.Http.Formatting.xml
/eDCR/bin/System.Web.Helpers.dll
/eDCR/bin/System.Web.Helpers.xml
/eDCR/bin/System.Web.Http.dll
/eDCR/bin/System.Web.Http.WebHost.dll
/eDCR/bin/System.Web.Http.WebHost.xml
/eDCR/bin/System.Web.Http.xml
/eDCR/bin/System.Web.Mvc.dll
/eDCR/bin/System.Web.Mvc.xml
/eDCR/bin/System.Web.Razor.dll
/eDCR/bin/System.Web.Razor.xml
/eDCR/bin/System.Web.Webpages.Deployment.dll
*.cache
eDCR/eDCR.csproj.user
eDCR/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
eDCR/obj/Debug/eDCR.csproj.AssemblyReference.cache
eDCR/obj/Debug/eDCR.csproj.CoreCompileInputs.cache
eDCR/obj/Debug/eDCR.csproj.FileListAbsolute.txt
eDCR/obj/Debug/eDCR.dll
eDCR/obj/Debug/eDCR.pdb
.vs/eDCR/config/applicationhost.config
