@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
<link href="~/Content/CustomCSS/InputText.css" rel="stylesheet" />
<link href="~/Content/CustomCSS/exportPDF.css" rel="stylesheet" />


<script src="~/Scripts/CustomJS/DefaultValue.js"></script>


<script>
    $(document).ready(function () {
        $.ajaxSetup({
            beforeSend: function () {
                $("#divLoading").show();
            },
            complete: function () {
                $("#divLoading").hide();
            }
        });


        EventPermission();
        LoadMonth();
        LoadRegion();
        $(".datepicker").datepicker({
            format: " yyyy",
            viewMode: "years",
            minViewMode: "years",
            autoclose: true
        });
        $("#Year").val(yyyy);


        function LoadMonth() {
            $.ajax({
                url: '/Default/GetGenMonth',
                type: 'GET',
                dataType: 'JSON',
                data: "{}",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $.each(data, function (i, item) {
                        $('#MonthNumber').append($('<option>', { value: item.MonthNumber, html: item.MonthName }, '<option/>'));
                    });
                },
                error: function () {
                    alert("Failed to load !!");
                }
            });
        }

        $('#FromToDate').daterangepicker({
            locale: { format: 'DD-MM-YYYY' },
            startDate: new Date()
        });



        function LoadRegion() {
            $.ajax({
                url: '/Default/GetRegion',
                type: 'get',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $.each(data, function (i, item) {
                        $('#RegionCode').append($('<option>', { value: item.RegionCode, html: item.RegionName }, '<option/>'));
                        if (i === 0) {
                            if (data.length > 1) {
                                $('#RegionCode').append('<option value="" selected="selected"></option>');

                                $('#RegionCode option').prop('selected', true);

                            }
                        }
                        $('#RegionName').val(item.RegionName);
                    });
                },
                error: function () {
                    alert("Failed to load...");
                }
            });
        }








        //**************reset function*************************
        $('#btnReset').click(function () {

            ResetData();


        });
        $('#IsActive').click(function () {
            if ($(this).is(':checked')) {
                $(this).siblings('label').html('Unhide');
                $('#divValueParameter').hide();
            }
            else {
                $(this).siblings('label').html('Hide');
                $('#divValueParameter').show();
            }
        });

        $('#rdbDoctorWiseCallSummary').click(function () {
            $('#chkCategory').prop('checked', true);
            $('#chkCategory').attr('disabled', false);
            $('#CategoryCode').attr('disabled', false);
            $('#rptRawExcel').prop('checked', true);
            $('#FromDate').val(dateInFirst);
            $('#ToDate').val(OneDayBack);

            $('#FromDate').attr('disabled', false);
            $('#ToDate').attr('disabled', false);

        });

        $('#btnView').click(function () {
            $("body").addClass('sidebar-collapse').trigger('collapsed.pushMenu');



            var MPOCode = $("#MPOCode").val();
            var MPGroup = $("#MPGroup").val();
            var TerritoryManagerID = $("#TerritoryManagerID").val();


            var FromDate = $("#FromDate").val();
            var ToDate = $("#ToDate").val();


            var validFromDate = InputValidation('FromDate');
            var validToDate = InputValidation('ToDate');





            var fromDateParts = FromDate.split("-");
            var fromDateObject = new Date(fromDateParts[2], fromDateParts[1] - 1, fromDateParts[0]);

            var toDateParts = ToDate.split("-");
            var toDateObject = new Date(toDateParts[2], toDateParts[1] - 1, toDateParts[0]);

            if (fromDateObject > toDateObject) {
                $('#FromDate').css("border", "1px solid red");
                $('#ToDate').css("border", "1px solid red");
                $('#ToDate').val("");
                toastr.info("To Date cannot be greater than From Date");
                return false;
            }

            var model = {};

            model.FromDate = $("#FromDate").val();
            model.ToDate = $("#ToDate").val();
            model.TerritoryManagerID = $("#TerritoryManagerID").val();
            model.MPGroup = $("#MPGroup").val();
            model.ItemType = $("#ItemType").val();
            model.ProductCode = $("#ProductCode").val();
            model.DoctorID = $("#DoctorID").val();
            model.DoctorName = $("#DoctorName").val();
            var Input = InputValidation('FromDate') + InputValidation('ToDate') + InputValidation('TerritoryManagerID');
            if (Input == 0) {

                $.ajax({
                    type: "POST",
                    url: "/ReportProductWiseDoctorSampleSummary/GetGridData",
                    data: JSON.stringify({ model: model }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data.length > 0) {

                        }
                        else {
                            ValidationMsg();
                            toastr.info($("#MessageText").html());

                        }
                    },

                });
            }
            else {
                ValidationMsg();
                toastr.info($("#MessageText").html());
            }


        });

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        ReportPermission();
        function ReportPermission() {
            $("#Div16").show();
            if ( @Session["RoleID"] == "16") {
                $("#Div16").hide();

            }
        }
    });


</script>


<script language="javascript" type="text/javascript">
    function ValidationDoctorWiseCallSummary() {
        var Input = InputValidation('FromDate') + InputValidation('ToDate') + InputValidation('ProductCode');
        if (Input == 0) {
            return true;
        }
        else
            return false;
    }
    function ValidationPromotionalItemExecution() {
        var Input = InputValidation('Year') + InputValidation('MonthNumber') + InputValidation('ProductCode');
        if (Input == 0) {
            return true;
        }
        else
            return false;
    }
    function ValidationDcrSummaryMpo() {
        var Input = InputValidation('FromDate') + InputValidation('ToDate') + InputValidation('RegionCode');
        if (Input == 0) {
            return true;
        }
        else
            return false;
    }
    function ValidationDvrSummary() {
        var Input = InputValidation('FromDate') + InputValidation('ToDate') + InputValidation('RegionCode');
        if (Input == 0) {
            return true;
        }
        else
            return false;
    }
    function ValidationDvrMonthly() {
        var Input = InputValidation('Year') + InputValidation('MonthNumber') + InputValidation('RegionCode');
        if (Input == 0) {
            return true;
        }
        else
            return false;
    }
    function ValidationDcrDoctorAbsent() {
        var Input = InputValidation('FromDate') + InputValidation('ToDate') + InputValidation('RegionCode');
        if (Input == 0) {
            return true;
        }
        else
            return false;
    }
    function ValidationTpLeaveMpoTmRsm() {
        var Input = InputValidation('MonthNumber') + InputValidation('Year') + InputValidation('RegionCode');
        if (Input == 0) {
            return true;
        }
        else
            return false;
    }
    
</script>



<div class="box-header with-border">
    <form class="form" action="/ReportAdminArchive/Export" id="R1Form" method="post" name="H1Form" target="_blank">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><div id="MessageText"></div></div>
            <div class="col-xs-0 col-sm-0 col-md-10 col-lg-10">
                <div style="text-align:right;">
                    <div class="col-xs-6 col-sm-2; hidden"><button id="btnExcel" class="btn btn-primary btn-sm" name="ExportType" value="Excel" type="submit"><i class="glyphicon glyphicon-envelope"></i> Excel </button></div>


                </div>
            </div>
        </div>
                <div class="box-body">
                    <div class="row" id="divValueParameter">

                        <div class="row">
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">Region Name :</div>
                                    <div class="col-xs-0 col-sm-0 col-md-6 col-lg-6">
                                        <select id="RegionCode" name="RegionCode" class="RequiredField form-control"></select>
                                        <input type="hidden" id="RegionName" name="RegionName" class="RequiredField form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"> Product:</div>
                                    <div class="col-xs-0 col-sm-0 col-md-6 col-lg-6">
                                        <input type="text" id="ProductCode" name="ProductCode" placeholder="Product Code" class="RequiredField form-control">

                                    </div>
                                </div>


                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

                            </div>
                        </div>

                        <hr class="divider">
                        <div class="row">
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">Date Between:</div>
                                    <div class="col-xs-0 col-sm-0 col-md-6 col-lg-6">
                                        <div class="input-group">
                                            <input type="text" id="FromDate" name="FromDate" class="firstDay RequiredField form-control ">

                                            <span class="input-group-btn" style="width:0px;"></span>
                                            <input type="text" id="ToDate" name="ToDate" class="date RequiredField form-control ">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span> </span>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"> Doctor:</div>
                                    <div class="col-xs-0 col-sm-0 col-md-6 col-lg-6">
                                        <div class="input-group">
                                            <input type="text" id="DoctorID" name="DoctorID" placeholder="Doctor ID" class="RequiredField form-control">
                                            <span class="input-group-btn" style="width:0px;"></span>
                                            <input type="text" id="DoctorName" name="DoctorName" placeholder="Doctor Name" class="RequiredField form-control">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="btn-group-vertical">
                                    <label class="control-label">
                                        <button id="btnReport" type="submit" class="btn btn-primary btn-sm" onclick="return ValidationDoctorWiseCallSummary();" formaction="/ReportAdminArchive/Export" value="button" data-toggle="tooltip" data-placement="right" title="[Mandatory: Date Between, Product]"><i class="glyphicon glyphicon-envelope"></i> Items / Doctor Wise Call Summary</button>

                                    </label><br />
                                </div>
                            </div>
                        </div>
                        <hr class="divider">
                        <div class="row">
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">Month - Year:</div>
                                    <div class="col-xs-0 col-sm-0 col-md-6 col-lg-6">
                                        <div class="input-group">
                                            <select id="MonthNumber" name="MonthNumber" class=" RequiredField form-control"></select>
                                            <span class="input-group-btn" style="width:0px;"></span>
                                            <input type="text" id="Year" name="Year" class="datepicker RequiredField form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="btn-group-vertical">
                                    <label class="control-label">
                                        <button id="btnReport" type="submit" class="btn btn-primary btn-sm" onclick="return ValidationPromotionalItemExecution();" formaction="/ReportAdminArchive/PromotionalItemExecution" value="button" data-toggle="tooltip" data-placement="right" title="[Mandatory: Month, Year, Product]"><i class="glyphicon glyphicon-envelope"></i> Promotional Item Execution </button>
                                    </label><br />
                                </div>
                            </div>
                        </div>
                        <hr class="divider">
                        <div class="row">
                            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"></div>
                                    <div class="col-xs-0 col-sm-0 col-md-6 col-lg-6">

                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <div class="btn-group-vertical" id="Div16">
                                    <label class="control-label">
                                        <button id="btnReport" type="submit" class="btn btn-primary btn-sm" onclick="return ValidationDcrSummaryMpo();" formaction="/ReportAdminArchive/DcrSummaryMpo" value="button" data-toggle="tooltip" data-placement="right" title="[Mandatory: Date Between, Region]"><i class="glyphicon glyphicon-envelope"></i> DCR Summary MPO </button>
                                    </label><br />
                                    <label class="control-label">
                                        <button id="btnReport" type="submit" class="btn btn-primary btn-sm" onclick="return ValidationDvrSummary();" formaction="/ReportAdminArchive/DvrSummary" value="button" data-toggle="tooltip" data-placement="right" title="[Mandatory: Date Between, Region]"><i class="glyphicon glyphicon-envelope"></i> DVR Summary</button>
                                    </label><br />
                                    <label class="control-label">
                                        <button id="btnReport" type="submit" class="btn btn-primary btn-sm" onclick="return ValidationDvrMonthly();" formaction="/ReportAdminArchive/DvrMonthly" value="button" data-toggle="tooltip" data-placement="right" title="[Mandatory: Month, Year, Region]"><i class="glyphicon glyphicon-envelope"></i> Dvr Monthly</button>
                                    </label><br />
                                    <label class="control-label">
                                        <button id="btnReport" type="submit" class="btn btn-primary btn-sm" onclick="return ValidationDcrDoctorAbsent();" formaction="/ReportAdminArchive/DcrDoctorAbsent" value="button" data-toggle="tooltip" data-placement="right" title="[Mandatory: Date Between, Region]"><i class="glyphicon glyphicon-envelope"></i> DCR Doctor Absent</button>
                                    </label><br />
                                    <label class="control-label">
                                        <button id="btnReport" type="submit" class="btn btn-primary btn-sm" onclick="return ValidationTpLeaveMpoTmRsm();" formaction="/ReportAdminArchive/TpLeaveMpoTmRsm" value="button" data-toggle="tooltip" data-placement="right" title="[Mandatory: Month, Year, Region]"><i class="glyphicon glyphicon-envelope"></i> Tp Leave Mpo/Tm/Rsm</button>
                                    </label><br />

                                </div>




                            </div>
                        </div>
                        <hr class="divider">

                    </div>





                </div>


    </form>
</div>



<div class="row">
    <div id="DetailPopupWindow" class="PopupWindowLayout" style="display: none;">
        <div id="Parameter"></div>
        <div id="DetailPopupWindowGrid" class="PopUpGrid"></div>
    </div>
</div>


<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
    <p style="position: absolute; top: 50%; left: 50%; color: White;">
        <img src="~/Content/Images/loading.gif" />
    </p>
</div>





