
@{

    Layout = null;// "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DVR</title>

    <script src="~/Scripts/HtmlPDF/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/HtmlPDF/jspdf.min.js"></script>
    <style>
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            padding: 20px;
            border: 1px solid #888;
            width: 65%; /* Could be more or less, depending on screen size */
            margin: 7% 5% auto; /* 15% from the top and left centered */
     
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
    </style>

    <style>
        /* BASICS: */
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box; /* in case block elements are used inside table cells */
        }

        html {
            font-size: 62.5%; /* standardizes older IEs */
        }

        body {
            font: normal 1.3em Verdana; /* = 13px */
            padding: 1px;
        }

        table {
            border-collapse: collapse;
            table-layout: fixed;
            width: 100%;
        }

        td {
            border: 1px solid black;
            /*padding: 4px;*/
        }
        /* SCROLL TABLE ESSENTIALS (+ SOME ADDITIONAL CSS): */
        div#scrollTableContainer {
            width: 100%;
            table-layout: fixed;
            /*border: 1px solid black;*/
        }

        .touchScreen div#scrollTableContainer {
            width: 100%; /* touch devices do not form scrollbars (= 17 px wide) */
        }

        #tHeadContainer {
            background: #666633;
            color: white;
            font-size: xx-small;
            font-family: Tahoma;
            text-align: center;
            width: 98.5%;

            /*table-layout: fixed;*/
        }


        #tBodyContainer {
            min-height: 300px;
            max-height: 450px;
            /*width: 99.6%;*/
            width: 99.6%;
            overflow-y: scroll;
            font-size: 6pt;
            font-family: Tahoma;
            text-align: center;
            overflow-x: hidden;
            table-layout: fixed;
        }


        .touchScreen #tBodyContainer {
            -webkit-overflow-scrolling: touch; /* smooths scrolling on touch screens */
        }
        /* FINER LAYOUT MATTERS: */
        tr:first-child td {
            border-top: 0;
        }



        #tBody tr.lastRow td {
            border-bottom: 0;
        }


        /* AND SOME CSS TO INFORM TOUCH SCREEN USERS: */
        p#touchDeviceText {
            display: none;
        }

        .touchScreen p#touchDeviceText {
            display: block;
        }






        .DoctorID {
            width: 3%;
        }

        .DoctorNameHead {
            width: 5%;
        }
        .DoctorName {
            width: 4%;
        }
        .ShiftNameHead {
            width: 3%;
        }
        .ShiftName {
            width: 2%;
        }

        .Potential {
            width: 1.3%;
        }

        .MPOCodeHead {
            width: 3%;
           
        }
        .MPOCode {
            width: 2%;
        }
        .MPGroup {
            width: 3%;
            display: none;
        }

        .MPEP {
            width: 1.3%;
        }

        .DayHead31 {
            width: 1.3%;
        }
        .Day31 {
            width: 1.3%;
        }
    </style>


    <script>
        if ('ontouchstart' in window || (window.DocumentTouch && document instanceof DocumentTouch)) {
            document.documentElement.className += ' touchScreen ';
        }
    </script>





    <script type="text/javascript">
        var Year = "";
        var MonthNumber = "";

        var TerritoryManagerID = "";
        var MarketCode = "";
        var MPGroup = "";
        var MPGroup = "";
        var ReportHeader = "";


        $(document).ready(function () {



            $.ajaxSetup({
                beforeSend: function () {
                    $("#divLoading").show();
                },
                complete: function () {
                    $("#divLoading").hide();
                }
            });

            Year = sessionStorage.getItem('keyYear');
            MonthNumber = sessionStorage.getItem('keyMonthNumber');
            TerritoryManagerID = sessionStorage.getItem('keyTerritoryManagerID');
            MarketCode = sessionStorage.getItem('keyMarketCode');
            MPGroup = sessionStorage.getItem('keyMPGroup');
            ReportHeader = sessionStorage.getItem('keyReportHeader');
            $('#ReportHeader').html(ReportHeader);
            MainGridView();

            function MainGridView() {
                var model = {};

                model.Year = Year;
                model.MonthNumber = MonthNumber;
                model.TerritoryManagerID = TerritoryManagerID;
                model.MarketCode = MarketCode;
                model.MPGroup = MPGroup;
                $('#tBody').html('');

                $.ajax({
                    type: "POST",
                    url: "/DoctorVisitRegisterNew/GetMainGridData",
                    data: JSON.stringify({ model: model }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $.each(data, function (i, val) {
                            //<a href=# style=text-decoration:underline;>
                            var trow = $('<tr></tr>');
                            trow.append('<td class=DoctorID>' + val.DoctorID + '</td>');
                            trow.append('<td class=DoctorName>' + val.DoctorName + '</td>');
                            trow.append('<td class=Potential>' + val.Potential + '</td>');
                            trow.append('<td class=ShiftName>' + val.ShiftName + '</td>');


                            trow.append('<td class=MPOCode>' + val.MPOCode + '</td>');
                            trow.append('<td class=MPGroup>' + val.MPGroup + '</td>');

                            trow.append('<td class=MPEP>' + val.MD + '</td>');

                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md01 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md02 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md03 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md04 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md05 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md06 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md07 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md08 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md09 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md10 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md11 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md12 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md13 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md14 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md15 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md16 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md17 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md18 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md19 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md20 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md21 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md22 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md23 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md24 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md25 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md26 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md27 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md28 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md29 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md30 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.md31 + '</a></td>');

                            trow.append('<td class=MPEP>' + val.ED + '</td>');

                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed01 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed02 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed03 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed04 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed05 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed06 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed07 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed08 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed09 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed10 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed11 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed12 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed13 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed14 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed15 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed16 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed17 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed18 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed19 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed20 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed21 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed22 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed23 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed24 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed25 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed26 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed27 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed28 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed29 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed30 + '</a></td>');
                            trow.append('<td class=Day31><a href=# style=text-decoration:underline;>' + val.ed31 + '</a></td>');
                            $('#tBody').append(trow);
                        });
                    },

                });
            }


            $('#btnSave').click(function () {

               
                var Input = Year;

                model = {};
                model.Year = Year;
                model.MonthNumber = MonthNumber;
                model.TerritoryManagerID = TerritoryManagerID;
                model.MPGroup = MPGroup;
                model.MarketCode = MarketCode;
                //model.MPOCode = MPOCode;

                if (Input > 0 ) {
                   
                    $.ajax({
                        url: '/DoctorVisitRegisterNew/OperationsModeDVRWP',
                        data: JSON.stringify(model),
                        type: 'POST',
                        contentType: 'application/json;',
                        dataType: 'json',
                        success: function (data) {
                            if (data.Status == "Yes") {

                                OperationMsg(data.Mode);
                                toastr.success($("#MessageText").html());
                            }
                            else {
                                ErrorFrmServerMsg(data.Status);
                                toastr.warning($("#MessageText").html());
                            }

                        },
                        error: function () {
                            ErrorFrmClientMsg();
                            toastr.warning($("#MessageText").html());
                        },
                        // complete: function () { CompletedMsg(); },
                    }); //End of ajax call

                }

                else {
                    ValidationMsg();
                    toastr.info($("#MessageText").html());
                }

            });

            function SetButtonAction(vCellValue) {
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth() + 1; //January is 0!
                var yyyy = today.getFullYear();

                if (dd < 10) {
                    dd = '0' + dd
                }

                if (mm < 10) {
                    mm = '0' + mm
                }

                today = dd + '-' + mm + '-' + yyyy;
          

                var FromDate = today;
          
                var ToDate = $("#SetDate").val();

                var fromDateParts = FromDate.split("-");
                var fromDateObject = new Date(fromDateParts[2], fromDateParts[1] - 1, fromDateParts[0]);

                var toDateParts = ToDate.split("-");
                var toDateObject = new Date(toDateParts[2], toDateParts[1] - 1, toDateParts[0]);

                if (fromDateObject <= toDateObject) {                
                    $("#btnSaveDVR").attr("disabled", false);
                    $("#btnDeleteDVR").attr("disabled", false);
                    $("#btnSaveWP").attr("disabled", false);
                    $("#btnDeleteWP").attr("disabled", false);
                }
                else {
                    $("#btnSaveDVR").attr("disabled", true);
                    $("#btnDeleteDVR").attr("disabled", true);
                    $("#btnSaveWP").attr("disabled", true);
                    $("#btnDeleteWP").attr("disabled", true);
                }

                if (n == 0) {
                    $("#btnSaveDVR").attr("disabled", true);
                    $("#btnDeleteDVR").attr("disabled", true);
                    $("#btnSaveWP").attr("disabled", true);
                    $("#btnDeleteWP").attr("disabled", true);
                }
            }

            var modal = document.getElementById('myModal');
            var span = document.getElementsByClassName("close")[0];
            span.onclick = function () {
                modal.style.display = "none";
            }
            $('#tBody').delegate('td.Day31', 'click', function (e) {
                e.preventDefault();
                var ShiftName = "";
                var $this = $(this);
                var rowIndex = $(this).closest("tr").index();
                var colIndex = $(this).closest("td").index();

                var DayNumber = $("#tHead tr:eq(1) td:eq(" + colIndex + ")").text();
                var vCellValue = $("#tBody tr:eq(" + rowIndex + ") td:eq(" + colIndex + ")").text();
             
                //alert(Header1);
                //alert(colIndex);
                if (colIndex < 38) {
                    ShiftName = "m";
                }
                else {
                    ShiftName = "e";

                }
                modal.style.display = "block";
                var row = $this.closest("tr");
                var name = row.find('td:eq(1)').text();

                var model = {};
                model.Year = Year;
                model.MonthNumber = MonthNumber;
                model.TerritoryManagerID = TerritoryManagerID;


                model.DoctorID = row.find('td:eq(0)').text();
                model.DoctorName = row.find('td:eq(1)').text();
                model.MPGroup = row.find('td:eq(5)').text();
                model.DayNumber = DayNumber;
                model.ShiftName = ShiftName;
                ValueUpdateOnNewWindow(model);
                SetButtonAction(vCellValue);
            });

            function LoadProduct(model) {
                $('#ProductCode').empty();
                $.ajax({
                    type: "POST",
                    url: "/DoctorVisitRegisterNew/GetProduct",
                    data: JSON.stringify({ model: model }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $.each(data, function (i, item) {
                            $('#ProductCode').append($('<option>', { value: item.ProductCode, html: item.ProductName }, '<option/>'));
                        });
                    },
                    error: function () {
                        alert("Failed to load !!");
                    }
                });
            }


            function ValueUpdateOnNewWindow(model) {
                $('#tPopupBody').html('');


                var Parameter = "" + model.DoctorName + " (" + model.DoctorID + "), " + model.DayNumber + "-" + model.MonthNumber + "-" + model.Year + ", " + model.ShiftName + " [" + model.MPGroup + "]. ";
                $("#Parameter").html(Parameter);


                $('#ShiftName').val(model.ShiftName);
                $('#SetDate').val(model.DayNumber + "-" + model.MonthNumber + "-" + model.Year);
                $('#DoctorID').val(model.DoctorID);
                $('#DoctorName').val(model.DoctorName);
            
                $('#MPGroup').val(model.MPGroup);
                $('#vCellValue').val(model.vCellValue);
                LoadProduct(model);

             

                var value = 0;
                $.ajax({
                    type: "POST",
                    url: "/DoctorVisitRegisterNew/GetDVR",
                    data: JSON.stringify({ model: model }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data.length > 0) {
                            $("#Parameter2").html("DVR: Yes");
                        }
                        else {
                            $("#Parameter2").html("DVR: No");
                        }

                    },
                    error: function () {
                        alert('Error occured!');
                    },
                });




                $.ajax({
                    type: "POST",
                    url: "/DoctorVisitRegisterNew/GetWP",
                    data: JSON.stringify({ model: model }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data.length > 0) {
                            value = value + 1;
                            //$('#WPGrid').show();
                            //$('#WPGrid').data('kendoGrid').dataSource.data(data);
                            $.each(data, function (i, val) {
                           
                                var trow = $('<tr></tr>');
                                trow.append('<td>' + val.ProductCode + '</td>');
                                trow.append('<td>' + val.ProductName + '</td>');
                                trow.append('<td>' + val.Quantity + '</td>');
                                $('#tPopupBody').append(trow);
                            });
                        }
                  

                    },
                    error: function () {
                        alert('Error occured!');
                    },
                });


                if (value > 0) {
                    modal.style.display = "none";
                }


            }
            $('#btnSaveDVR').click(function () {
                var model = {};

                model.SetDate = $('#SetDate').val();
                model.ShiftName = $('#ShiftName').val();
                model.DoctorID = $('#DoctorID').val();
                model.DoctorName = $('#DoctorName').val();
                model.MPGroup = $('#MPGroup').val();
                model.vCellValue = $('#vCellValue').val();

                model.Year = Year;
                model.MonthNumber = MonthNumber;
                model.DayNumber = $('#SetDate').val().slice(0, 2);
            

             

             
                $.ajax({
                    url: '/DoctorVisitRegisterNew/OperationsModeDVR',
                    data: JSON.stringify(model),
                    type: 'POST',
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function (data) {
                        if (data.Status == "Yes") {
                            OperationMsg(data.Mode);
                            toastr.success($("#MessageText").html());
                            ValueUpdateOnNewWindow(model);
                            MainGridView();

                        }
                        else if (data.Status == "No") {
                            OperationMsg(data.Mode);
                            toastr.info($("#MessageText").html());
                        }
                        else {
                            ErrorFrmServerMsg(data.Status);
                            toastr.warning($("#MessageText").html());
                        }

                    },
                    error: function () {
                        ErrorFrmClientMsg();
                        toastr.warning($("#MessageText").html());
                    },
                    // complete: function () { CompletedMsg(); },
                }); //End of ajax call
            });


            $('#btnDeleteDVR').click(function () {
                var model = {};

                model.SetDate = $('#SetDate').val();
                model.ShiftName = $('#ShiftName').val();
                model.DoctorID = $('#DoctorID').val();
                model.DoctorName = $('#DoctorName').val();
                model.MPGroup = $('#MPGroup').val();
                model.vCellValue = $('#vCellValue').val();

                model.Year = Year;
                model.MonthNumber = MonthNumber;
                model.DayNumber = $('#SetDate').val().slice(0, 2);





                $.ajax({
                    url: '/DoctorVisitRegisterNew/OperationsModeDVRWPDelete',
                    data: JSON.stringify(model),
                    type: 'POST',
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function (data) {
                        if (data.Status == "Yes") {
                            OperationMsg(data.Mode);
                            toastr.success($("#MessageText").html());
                            ValueUpdateOnNewWindow(model);
                            MainGridView();

                        }
                        else if (data.Status == "No") {
                            OperationMsg(data.Mode);
                            toastr.info($("#MessageText").html());
                        }
                        else {
                            ErrorFrmServerMsg(data.Status);
                            toastr.warning($("#MessageText").html());
                        }

                    },
                    error: function () {
                        ErrorFrmClientMsg();
                        toastr.warning($("#MessageText").html());
                    },
                    // complete: function () { CompletedMsg(); },
                }); //End of ajax call
            });
            $('#btnSaveWP').click(function () {

                
                var Input = InputValidation('ProductCode') + InputValidation('Quantity');
            
                var ShiftName = $('#ShiftName').val();
                var DayNumber = $('#SetDate').val().slice(0, 2);
           
                if (Input == 0) {

                    var model = {};


                    model.SetDate = $('#SetDate').val();
                    model.ProductCode = $('#ProductCode').val();
                    model.DoctorID = $('#DoctorID').val();
                    model.Quantity = $('#Quantity').val();
                    model.ShiftName = $('#ShiftName').val();
                    model.DoctorID = $('#DoctorID').val();
                    model.DoctorName = $('#DoctorName').val();
                    model.MPGroup = $('#MPGroup').val();
                    model.vCellValue = $('#vCellValue').val();


                    model.Year = Year;
                    model.MonthNumber = MonthNumber;
                    model.DayNumber = $('#SetDate').val().slice(0, 2);

                    $.ajax({
                        url: '/DoctorVisitRegisterNew/OperationsModeWP',
                        data: JSON.stringify(model),
                        type: 'POST',
                        contentType: 'application/json;',
                        dataType: 'json',
                        success: function (data) {
                            if (data.Status == "Yes") {
                                OperationMsg(data.Mode);
                                toastr.success($("#MessageText").html());
                                ValueUpdateOnNewWindow(model);
                                MainGridView();

                            }
                            else if (data.Status == "No") {
                                OperationMsg(data.Mode);
                                toastr.info($("#MessageText").html());
                            }
                            else {
                                ErrorFrmServerMsg(data.Status);
                                toastr.warning($("#MessageText").html());
                            }

                        },
                        error: function () {
                            ErrorFrmClientMsg();
                            toastr.warning($("#MessageText").html());
                        },
                        // complete: function () { CompletedMsg(); },
                    }); //End of ajax call
                }
                else {
                    ValidationMsg();
                    toastr.info($("#MessageText").html());
                }
            });
            $('#btnDeleteWP').click(function () {


                var Input = InputValidation('ProductCode') + InputValidation('Quantity');

                var ShiftName = $('#ShiftName').val();
                var DayNumber = $('#SetDate').val().slice(0, 2);

                if (Input == 0) {

                    var model = {};


                    model.SetDate = $('#SetDate').val();
                    model.ProductCode = $('#ProductCode').val();
                    model.DoctorID = $('#DoctorID').val();
                    model.Quantity = $('#Quantity').val();
                    model.ShiftName = $('#ShiftName').val();
                    model.DoctorID = $('#DoctorID').val();
                    model.DoctorName = $('#DoctorName').val();
                    model.MPGroup = $('#MPGroup').val();
                    model.vCellValue = $('#vCellValue').val();


                    model.Year = Year;
                    model.MonthNumber = MonthNumber;
                    model.DayNumber = $('#SetDate').val().slice(0, 2);

                    $.ajax({
                        url: '/DoctorVisitRegisterNew/OperationsModeDeleteWP',
                        data: JSON.stringify(model),
                        type: 'POST',
                        contentType: 'application/json;',
                        dataType: 'json',
                        success: function (data) {
                            if (data.Status == "Yes") {
                                OperationMsg(data.Mode);
                                toastr.success($("#MessageText").html());
                                ValueUpdateOnNewWindow(model);
                                MainGridView();

                            }
                            else if (data.Status == "No") {
                                OperationMsg(data.Mode);
                                toastr.info($("#MessageText").html());
                            }
                            else {
                                ErrorFrmServerMsg(data.Status);
                                toastr.warning($("#MessageText").html());
                            }

                        },
                        error: function () {
                            ErrorFrmClientMsg();
                            toastr.warning($("#MessageText").html());
                        },
                        // complete: function () { CompletedMsg(); },
                    }); //End of ajax call
                }
                else {
                    ValidationMsg();
                    toastr.info($("#MessageText").html());
                }
            });
            function fnClose() {
                this.close();
            }

            $('#btnBack').click(function () {
                fnClose();

            });



            var form = $('#scrollTableContainer'), cache_width = form.width(), a4 = [1000, 841.89]; // for a4 size paper width and height          

            $('#btnPdf').click(function () {             
                $('body').scrollTop(0);
                createPDF();
            });

          
            //create pdf
            function createPDF() {
                getCanvas().then(function (canvas) { 
                    var
                     img = canvas.toDataURL("image/png"),
                     //doc = new jsPDF({
                     //    unit: 'px',
                     //    format: 'a4'
                        
                         
                     //});
                     doc = new jsPDF('l', 'mm', [400, 210]);             

                    //pageHeight = doc.internal.pageSize.height;
                    //// Before adding new content
                    //y = 210 // Height position of new content
                    //if (y >= pageHeight) {
                    //    doc.addPage();
                    //    y = 0 // Restart height position
                    //}
                
                    doc.addImage(img, 'JPEG', 20, 20);
                    doc.save('DVR.pdf');
                    form.width(cache_width);
                });
            }

            // create canvas object
            function getCanvas() {
                form.width((a4[0] * 1.33333) - 0);
                return html2canvas(form, {
                    imageTimeout: 2000,
                    removeContainer: true
                });
            }

           


        });
    </script>












    
    <script>
        /*
     * jQuery helper plugin for examples and tests
     */
        (function ($) {
            $.fn.html2canvas = function (options) {
                var date = new Date(),
                $message = null,
                timeoutTimer = false,
                timer = date.getTime();
                html2canvas.logging = options && options.logging;
                html2canvas.Preload(this[0], $.extend({
                    complete: function (images) {
                        var queue = html2canvas.Parse(this[0], images, options),
                        $canvas = $(html2canvas.Renderer(queue, options)),
                        finishTime = new Date();

                        $canvas.css({ position: 'absolute', left: 0, top: 0 }).appendTo(document.body);
                        $canvas.siblings().toggle();

                        $(window).click(function () {
                            if (!$canvas.is(':visible')) {
                                $canvas.toggle().siblings().toggle();
                                throwMessage("Canvas Render visible");
                            } else {
                                $canvas.siblings().toggle();
                                $canvas.toggle();
                                throwMessage("Canvas Render hidden");
                            }
                        });
                        throwMessage('Screenshot created in ' + ((finishTime.getTime() - timer) / 1000) + " seconds<br />", 4000);
                    }
                }, options));

                function throwMessage(msg, duration) {
                    window.clearTimeout(timeoutTimer);
                    timeoutTimer = window.setTimeout(function () {
                        $message.fadeOut(function () {
                            $message.remove();
                        });
                    }, duration || 2000);
                    if ($message)
                        $message.remove();
                    $message = $('<div ></div>').html(msg).css({
                        margin: 0,
                        padding: 10,
                        background: "#000",
                        opacity: 0.7,
                        position: "fixed",
                        top: 10,
                        right: 10,
                        fontFamily: 'Tahoma',
                        color: '#fff',
                        fontSize: 12,
                        borderRadius: 12,
                        width: 'auto',
                        height: 'auto',
                        textAlign: 'center',
                        textDecoration: 'none'
                    }).hide().fadeIn().appendTo('body');
                }
            };
        })(jQuery);

    </script>
</head>
<body>
    <br />
    <div style="text-align:center"> <span style="background-color: #666633;color: white;" id="ReportHeader"></span>
    <button id="btnSave" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-save-file"></i><span style="background-color: #3C8DBC; color: white; font-weight: bold">Approved</span></button>
    @*<button id="btnPdf" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-save-file"></i><span style="background-color: #3C8DBC; color: white; font-weight: bold">PDF</span></button>*@
     
     <button id="btnBack" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-backward"></i><span style="background-color: #3C8DBC; color: white; font-weight: bold">Back</span></button>

    </div>
    <br />
   
    <div id="scrollTableContainer" class="form">
        <div id="tHeadContainer">
            <table id="tHead">
                <tr>
                    <td class="DoctorID"></td>
                    <td class="DoctorNameHead"></td>
                    <td class="Potential"></td>
                    <td class="ShiftName"></td>

                    <td class="MPOCodeHead"></td>
                    <td class="MPGroup"></td>

                    <td class="MPEP"></td>
                    <td colspan="31">Morning</td>
                    <td class="MPEP"></td>
                    <td colspan="31">Evening</td>
                </tr>
                <tr>

                    <td class="DoctorID">Doctor<br />ID</td>
                    <td class="DoctorNameHead">Doctor<br />Name</td>
                    <td class="Potential">Ca</td>
                    <td class="ShiftNameHead">Shift</td>

                    <td class="MPOCodeHead">MPO</td>
                    <td class="MPGroup">Group</td>

                    <td class="MPEP">MP</td>
                    <td class="Day31">01</td>
                    <td class="Day31">02</td>
                    <td class="Day31">03</td>
                    <td class="Day31">04</td>
                    <td class="Day31">05</td>
                    <td class="Day31">06</td>
                    <td class="Day31">07</td>
                    <td class="Day31">08</td>
                    <td class="Day31">09</td>
                    <td class="Day31">10</td>
                    <td class="Day31">11</td>
                    <td class="Day31">12</td>
                    <td class="Day31">13</td>
                    <td class="Day31">14</td>
                    <td class="Day31">15</td>
                    <td class="Day31">16</td>
                    <td class="Day31">17</td>
                    <td class="Day31">18</td>
                    <td class="Day31">19</td>
                    <td class="Day31">20</td>
                    <td class="Day31">21</td>
                    <td class="Day31">22</td>
                    <td class="Day31">23</td>
                    <td class="Day31">24</td>
                    <td class="Day31">25</td>
                    <td class="Day31">26</td>
                    <td class="Day31">27</td>
                    <td class="Day31">28</td>
                    <td class="Day31">29</td>
                    <td class="Day31">30</td>
                    <td class="Day31">31</td>

                    <td class="MPEP">EP</td>

                    <td class="Day31">01</td>
                    <td class="Day31">02</td>
                    <td class="Day31">03</td>
                    <td class="Day31">04</td>
                    <td class="Day31">05</td>
                    <td class="Day31">06</td>
                    <td class="Day31">07</td>
                    <td class="Day31">08</td>
                    <td class="Day31">09</td>
                    <td class="Day31">10</td>
                    <td class="Day31">11</td>
                    <td class="Day31">12</td>
                    <td class="Day31">13</td>
                    <td class="Day31">14</td>
                    <td class="Day31">15</td>
                    <td class="Day31">16</td>
                    <td class="Day31">17</td>
                    <td class="Day31">18</td>
                    <td class="Day31">19</td>
                    <td class="Day31">20</td>
                    <td class="Day31">21</td>
                    <td class="Day31">22</td>
                    <td class="Day31">23</td>
                    <td class="Day31">24</td>
                    <td class="Day31">25</td>
                    <td class="Day31">26</td>
                    <td class="Day31">27</td>
                    <td class="Day31">28</td>
                    <td class="Day31">29</td>
                    <td class="Day31">30</td>
                    <td class="Day31">31</td>

                </tr>
            </table>
        </div><!-- tHeadContainer -->
        <div id="tBodyContainer">
            <table id="tBody"></table>

        </div><!-- tBodyContainer -->
    </div><!-- scrollTableContainer -->


        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>
                    <br />
                    <div id="MessageText"></div>
                    <br />
                    <div id="Parameter"></div><span class="input-group-btn" style="width:5px;"></span><div style="color:lightskyblue" id="Parameter2"></div>
                    <br />
                    <div style="display:none">
                        <input type="text" id="DoctorID" name="DoctorID">
                        <input type="text" id="DoctorName" name="DoctorName">
                        <input type="text" id="ShiftName" name="ShiftName">
                        <input type="text" id="SetDate" name="SetDate">                     
                        <input type="text" id="MPGroup" name="MPGroup">
                        <input type="text" id="vCellValue" name="vCellValue">
                    </div>
                    <br />
                    <div style="display:block">
                        <span>Product :</span>
                        <select id="ProductCode" name="ProductCode"></select>
                    </div>
                    <br />
                    <div style="display:block">
                        <span>Quantity:</span>
                        <input type="number" id="Quantity" min="0" name="Quantity">
                    </div>
                    <br />
                    <div style="display:block">
                        <span class="input-group-btn" style="width:10px;"></span>
                        <button id="btnSaveDVR" class="btn btn-primary input-sm" type="button"><i class="glyphicon glyphicon-save-file"></i>Add DVR</button>
                        <span class="input-group-btn" style="width:5px;"></span>
           
                        <button id="btnDeleteDVR" class="btn btn-primary input-sm" type="button"><i class="glyphicon glyphicon-save-file"></i>Delete DVR</button>
                        <span class="input-group-btn" style="width:5px;"></span>
                        <button id="btnSaveWP" class="btn btn-primary input-sm" type="button"><i class="glyphicon  glyphicon-save-file"></i>Add WP</button>
                        <span class="input-group-btn" style="width:5px;"></span>
                        <button id="btnDeleteWP" class="btn btn-primary input-sm" type="button"><i class="glyphicon  glyphicon-save-file"></i>Delete WP</button>
                    </div>
                    <br />
                    <div style="display:block">
                        <span style="background: #666633; color: white; border: 1px solid black;">WP</span>
                        <table id="tPopupHead" style="background: #666633; color: white; border: 1px solid black; ">

                            <tr>
                                <td>ProductCode</td>
                                <td>ProductName</td>
                                <td>Quantity</td>
                            <tr>
                        </table>
                        <table id="tPopupBody"></table>
                    </div>
                </p>
            </div>

        </div>

    <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
        <p style="position: absolute; top: 50%; left: 50%; color: White;">
            <img src="~/Content/Images/loading.gif" />
        </p>
    </div>
</body>
</html>




