
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
<link href="~/Content/CustomCSS/InputText.css" rel="stylesheet" />
<link href="~/Content/CustomCSS/exportPDF.css" rel="stylesheet" />
<script src="~/Scripts/CustomJS/DefaultValue.js"></script>
<style type="text/css">
    .user-photo {
        display: inline-block;
        width: 200px;
        height: 200px;
        /*border-radius: 50%;*/
        background-size: 32px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 32px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
        margin-left: 5px;
    }

    .user-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 32px;
        padding-left: 3px;
    }
</style>

<style>
    .k-grid .k-state-selected {
        background-color: white;
        color: black;
    }
</style>


<style>
    .has-success {
        background: white;
    }

    .has-error {
        /*background: red;*/
        border: 1px Solid red !important;
    }

    .k-grid-header .k-header {
        height: 15px;
        padding: 0;
    }

    .k-grid-header-wrap th {
        font-size: 14px;
        /*font-size: small !important;*/
    }

    .k-grid tbody tr {
        line-height: 10px;
        font-size: 13px;
    }

    .k-grid tbody td {
        padding: 3px;
    }
</style>

<script type="text/javascript">

    var ParameterReportHead = "";
    $(document).ready(function () {

        $.ajaxSetup({
            beforeSend: function () {
                $("#divLoading").show();
            },
            complete: function () {
                $("#divLoading").hide();
            }
        });
       
        EventPermission();


        $('#IsActive').click(function () {
            if ($(this).is(':checked')) {
                $(this).siblings('label').html('Unhide');
                $('#divValueParameter').hide();
            }
            else {
                $(this).siblings('label').html('Hide');
                $('#divValueParameter').show();
            }
        });

        $(".datepicker").datepicker({
            format: " yyyy",
            viewMode: "years",
            minViewMode: "years",
            autoclose: true
        });
      //  EventPermission();
        $("#Year").val(yyyy);
        LoadMonth();

        function LoadMonth() {
            $.ajax({
                url: '/Default/GetGenMonth',
                type: 'GET',
                dataType: 'JSON',
                data: "{}",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $.each(data, function (i, item) {
                        $('#MonthNumber').append($('<option>', { value: item.MonthNumber, html: item.MonthName }, '<option/>'));
                    });
                },
                error: function () {
                    alert("Failed to load !!");
                }
            });
        }
        LoadRegion();


        function LoadRegion() {
            $.ajax({
                url: '/Default/GetRegion',
                type: 'get',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (data.length > 1) {
                            $('#RegionCode').append('<option value="" selected="selected"></option>');
                        }
                        $('#RegionCode').append($('<option>', { value: item.RegionCode, html: item.RegionName }, '<option/>'));                       
                        $('#RegionName').val(item.RegionName);
                    });
                },
                error: function () {
                    alert("Failed to load...");
                }
            });
        }
        $('#RegionCode').on('change', function () {         
            $('#RegionName').val($("#RegionCode option:selected").text());

        }).trigger('change');;

      
      

       

        

        var MainGrid = $("#MainGrid").kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: false,
                schema: {
                    model: {
                        id: "DoctorID",
                        fields: {
                            SL: { type: "string" },
                            DoctorID: { type: "string" },
                            DoctorName: { type: "string" },                          
                            ShiftName: { type: "string" },                        
                            MD: { type: "Number" },
                            ED: { type: "Number" },
                            MED:{ type: "Number" },
                            MP: { type: "Number" },
                            EP: { type: "Number" },
                            MEP:{ type: "Number" },
                            ME: { type: "Number" },
                            EE: { type: "Number" },
                            MEE:{ type: "Number" },
                            MA: { type: "Number" },
                            EA: { type: "Number" },
                            MEA:{ type: "Number" },
                            MarketCode: { type: "string" },
                            MarketName: { type: "string" },
                            RegionCode: { type: "string" },
                            RegionCode: { type: "string" },
                        
                        }
                    }
                },
                pageSize: 100,
            }),
            pageable: {
                pageSizes: true, buttonCount: 5
            },
            dataBound: function (e) {
                AutoFitColumn(this.element[0].id);

         
            },
         

            toolbar: [{ template: "<input type='text' id='txtMainGridDoctorName'  style='float:right' placeholder='Doctor Name...' class='k-textbox'>" },{ template: "<input type='text' id='txtMainGridDoctorId'  style='float:right' placeholder='Doctor Id...' class='k-textbox'>" },],


            height: 450,
            scrollable: true,
            sortable: true,
            filterable: false,
            editable: false,
            navigatable: false,
            columnMenu: false,
            reorderable: false,

           
            columns: [
                { field: "SL", title: "SL", locked: true },
                { field: "DoctorID", title: "DoctorID", locked: true },
                { field: "DoctorName", title: "Doctor Name", locked: true },           
                { field: "ShiftName", title: "Shift" },           
                { field: "MD", title: "MD" },
                { field: "ED", title: "ED" },
                { field: "MED", title: "MED" },
                { field: "MP", title: "MP" },
                { field: "EP", title: "EP" },
                { field: "MEP", title: "MEP" },
                { field: "ME", title: "ME" },
                { field: "EE", title: "EE" },
                { field: "MEE", title: "MEE" },
                { field: "MA", title: "MA" },
                { field: "EA", title: "EA" },
                { field: "MEA", title: "MEA" },
                { field: "MarketCode", title: "MarketCode", hidden: false },
                { field: "MarketName", title: "MarketName", hidden: false },
                { field: "RegionCode", title: "RegionCode", hidden: false },
                { field: "RegionName", title: "RegionName", hidden: false },
            ],
        });



        $("#txtMainGridDoctorId").keyup(function () {
            var val = $(this).val();
            $("#MainGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                    { field: "DoctorID", operator: "contains", value: val },
                  
                ]
            });
        });

        $("#txtMainGridDoctorName").keyup(function () {
            var val = $(this).val();
            $("#MainGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                    { field: "DoctorName", operator: "contains", value: val },

                ]
            });
        });



      
        $('#btnView').click(function () {

            $("body").addClass('sidebar-collapse').trigger('collapsed.pushMenu');

            $('#MainGrid').data('kendoGrid').dataSource.filter([]);
            $('#MainGrid').data('kendoGrid').dataSource.data([]);

            var model = {};
            model.Year = $("#Year").val();
            model.MonthNumber = $("#MonthNumber").val(); 
            model.RegionCode = $("#RegionCode").val();
            model.SBU = $("#SBU").val();
            var Input = InputValidation('MonthNumber') + InputValidation('Year') + InputValidation('SBU');


            if (Input == 0) {
                ParameterReportHead = "Month: " + $("#MonthNumber option:selected").html() + "-" + $("#Year").val() + ", MPO:" + $("#MPGroup option:selected").html() + ", TM: " + $('#TerritoryManagerName').val() + ", Region: " + $('#RegionName').val();

                $("#divLoading").show();
                $.ajax({
                    type: "POST",
                    url: "/ReportDvrWpDcrMpo/GetMainGridData",
                    data: JSON.stringify({ model: model }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data.length > 0) {
                            $("#MainGrid").data("kendoGrid").dataSource.data(data);

                        }
                        else {
                            AcknowledgeMsg();
                            toastr.info($("#MessageText").html());

                        }
                        $("#divLoading").hide();
                    },

                });
            }

            else {
                ValidationMsg();
                toastr.warning($("#MessageText").html());
            }

            $("#Year").val(model.Year);
        });

        

        

    });
</script>


<script language="javascript" type="text/javascript">

    function InputValidationPdfExcel() {
        var Input = InputValidation('MonthNumber') + InputValidation('Year') + InputValidation('SBU') ;
        if (Input == 0) {
            return true;
        }
        else
            return false;
    }

</script>










<div class="box-header with-border">
    <form class="form" action="/ReportDvrWpDcrMpo/Export" id="R1Form" method="post" name="H1Form" target="_blank">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"><div id="MessageText"></div></div>
            <div class="col-xs-0 col-sm-0 col-md-10 col-lg-10">
                <div style="text-align:right;">
                    <input type="checkbox" id="IsActive" class="chk" name="IsActive"> <label for="IsActive"> Hide</label>
                    <button id="btnView" class="btn btn-primary btn-sm" type="button"><i class="glyphicon glyphicon-file"></i> View</button>
                  
                    <button type="submit" id="btnExcel" name="ExportType" value="Excel" class="btn btn-primary btn-sm" onclick="return InputValidationPdfExcel();" formaction="/ReportDvrWpDcrMpo/Export" data-toggle="tooltip" data-placement="bottom" title="[Mandatory: Month, Year, SBU]"><i class="glyphicon glyphicon-envelope"></i> Excel </button>
                    <button type="submit" id="btnPDF" name="ExportType" value="PDF" class="btn btn-primary btn-sm" onclick="return InputValidationPdfExcel();" formaction="/ReportDvrWpDcrMpo/Export" data-toggle="tooltip" data-placement="bottom" title="[Mandatory: Month, Year, SBU]"><i class="glyphicon glyphicon-book"></i> Pdf </button>


                </div>
            </div>
        </div>

        <div class="box-body">
            <div class="row" id="divValueParameter">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2"> Month - Year :</div>
                    <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">
                        <div class="input-group">
                            <select id="MonthNumber" name="MonthNumber" class="RequiredField form-control"></select>
                            <span class="input-group-btn" style="width:2px;"></span>
                            <input type="text" id="Year" name="Year" class="datepicker RequiredField form-control" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"></div>
                    <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3">

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">SBU :</div>
                    <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4">
                        <select id="SBU" name="SBU" class="RequiredField form-control">
                            <option value=""></option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="N">N</option>
                            <option value="HB">HB</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-2 col-lg-2">Region Name :</div>
                    <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4">
                        <select id="RegionCode" name="RegionCode" class="RequiredField form-control"></select>
                        <input type="hidden" id="RegionName" name="RegionName" class="RequiredField form-control">
                    </div>
                </div>

            
            </div>
    </form>
    <div class="row">
        <div id="MainGrid" class="MainGrid"></div>
    </div>

    </div>



</div>
<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
    <p style="position: absolute; top: 50%; left: 50%; color: White;">
        <img src="~/Content/Images/loading.gif" />
    </p>
</div>

