@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
<link href="~/Content/CSS/InputText.css" rel="stylesheet" />




<script type="text/javascript">


    $(document).ready(function () {
        $.ajaxSetup({
            beforeSend: function () {
                $("#divLoading").show();
            },
            complete: function () {
                $("#divLoading").hide();
            }
        });

        EventPermission();
        LoadRole();
        GridDataLoad();
        function LoadRole() {

            $.ajax({
                url: '/Role/GetRoleInSoftwareModuleMapping',
                type: 'GET',
                dataType: 'JSON',
                data: "{}",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $.each(data, function (i, item) {
                        $('#RoleID').append($('<option>', { value: item.RoleID, html: item.RoleName }, '<option/>'));
                    });
                },

                error: function () {
                    alert("Failed to load...");
                }
            });
        }
        
        function GridDataLoad()
        {
            var RoleID = $('#RoleID').val();
       
            //$('#MainGrid').data('kendoGrid').dataSource.filter([]);
            //$('#MainGrid').data('kendoGrid').dataSource.data([]);
            //$(".k-textbox").val("");

            $.ajax({
                type: "POST",
                url: '/RoleInFormPermission/GetRoleInFormPermissionList',
                data: JSON.stringify({ RoleID: RoleID }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.length>0) {
                        $('#MainGrid').data('kendoGrid').dataSource.data(data);
                    }
                    else {

                        AcknowledgeMsg();
                        toastr.info($("#MessageText").html());
                    }
                },
                error: function () {
                    alert("Failed to load Category!!");
                }
            });
        }
   
        $('#RoleID').change(function () {           
            var RoleID = $(this).val();
            GridDataLoad();
        });
        // Filter table row

        
        kendo.ui.Grid.fn.fitColumns = function (parentColumn) {
            var grid = this;
            var columns = grid.columns;
            if (parentColumn && parentColumn.columns)
                columns = parentColumn.columns;
            columns.forEach(function (col) {
                if (col.columns)
                    return grid.fitColumns(col);
                grid.autoFitColumn(col);
            });
            grid.expandToFit();
        }//fitColumns

        kendo.ui.Grid.fn.expandToFit = function () {
            var $gridHeaderTable = this.thead.closest('table');
            var gridDataWidth = $gridHeaderTable.width();
            var gridWrapperWidth = $gridHeaderTable.closest('.k-grid-header-wrap').innerWidth();
            // Since this is called after column auto-fit, reducing size
            // of columns would overflow data.
            if (gridDataWidth >= gridWrapperWidth) {
                return;
            }

            var $headerCols = $gridHeaderTable.find('colgroup > col');
            var $tableCols = this.table.find('colgroup > col');

            var sizeFactor = (gridWrapperWidth / gridDataWidth);
            $headerCols.add($tableCols).not('.k-group-col').each(function () {
                var currentWidth = $(this).width();
                var newWidth = (currentWidth * sizeFactor);
                $(this).css({
                    width: newWidth
                });
            });
        }//expandToFit

        
        //Initializing Main page details Kendo Grid Colums
        var MainGrid = $('#MainGrid').kendoGrid({
            dataSource: new kendo.data.DataSource({         
                batch: true,
                schema: {
                    model: {
                        id: "SoftwareID",
                        fields: {                          
                            SoftwareID: { type: "string", editable: false },
                            ViewPermission: { type: "boolean", editable: true },
                            SavePermission: { type: "boolean", editable: true },
                            EditPermission: { type: "boolean", editable: true },
                            DeletePermission: { type: "boolean", editable: true },
                            PrintPermission: { type: "boolean", editable: true },
                        }
                    }
                },
                pageSize: 10,
            }),
            pageable: {
                //refresh: true,
                pageSizes: true, buttonCount: 5
            },
            dataBound: function (e) {
                AutoFitColumn(this.element[0].id);
            },
            scrollable: true,
            sortable: false,
            filterable: false,
            editable: true,
            selectable: "row",
            //selectable: "multiple",
            toolbar: [{ template: "<input type='text' id='txtMainInput'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            navigatable: true,
            columnMenu: false,
            reorderable: false,
            resizable: false,
            resize: function (e) {
                this.table.height(this.element.height() + this.table.height() - 1);
            },
            columns: [       
                 { field: "SoftwareID", title: "Menu HeadID", hidden: true },
                 { field: "SoftwareName", title: "Menu Head Name" },
                 { field: "ModuleID", title: "SubHead ID", hidden: true },
                 { field: "ModuleName", title: "Sub Head Name" },
                 { field: "FormID", title: "FormID", hidden: true },
                 { field: "FormName", title: "Form Name" },
                 { field: "FormURL", title: "Form URL", hidden: true },
                 { field: "ViewPermission", title: "View Permission" },
                 { field: "SavePermission", title: "Save Permission" },
                 { field: "EditPermission", title: "Edit Permission"},
                 { field: "DeletePermission", title: "Delete Permission" },
                 { field: "PrintPermission", title: "Print Permission", hidden: true },
            ],
          
           
        }).data('kendoGrid');




        $("#txtMainInput").keyup(function () {
            var val = $(this).val();
            $("#MainGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "SoftwareID", operator: "contains", value: val },
                     { field: "SoftwareName", operator: "contains", value: val },
                     { field: "ModuleID", operator: "contains", value: val },
                     { field: "ModuleName", operator: "contains", value: val },
                     { field: "FormID", operator: "contains", value: val },
                     { field: "FormName", operator: "contains", value: val },
                     { field: "FormURL", operator: "contains", value: val },
                    //  { field: "ViewPermission", operator: "contains", value: val },
                ]
            });
        });

        AutoFitColumn("MainGrid");
        var gridInput = 0;
        function GridValidation() {
            gridInput = 0;
            var dataSource = $("#MainGrid").data("kendoGrid").dataSource;
            data = dataSource.data(); // Get Detail Grid Data
            if (dataSource.view().length > 0) {
                gridInput = 0;
            }
            else {
                gridInput = 1;
            }
        }

        $('#btnSave').click(function () {

            GridValidation();
            var Input = InputValidation('RoleID')
            if ((Input == 0) && (gridInput == 0)) {
                var dataSource = $("#MainGrid").data("kendoGrid").dataSource;
                var filters = dataSource.filter();
                var allData = dataSource.data();
                var query = new kendo.data.Query(allData);
                var data = query.filter(filters).data;


                master.detailsList = [];
            
                    for (var i = data.length - 1; i >= 0; i--) {
                        details.RoleID = $('#RoleID').val();
                        details.SoftwareID = data[i].SoftwareID;

                        details.ModuleID = data[i].ModuleID;
                        details.FormID = data[i].FormID;
                        details.ViewPermission = data[i].ViewPermission;
                        details.SavePermission = data[i].SavePermission;
                        details.EditPermission = data[i].EditPermission;
                        details.DeletePermission = data[i].DeletePermission;
                        details.PrintPermission = data[i].PrintPermission;
                        master.detailsList.push(details);
                        details = { "RoleID": "", "SoftwareID": "", "ModuleID": "", "FormID": "", "ViewPermission": "", "SavePermission": "", "EditPermission": "", "DeletePermission": "", "PrintPermission": "" };

                }
                $.ajax({
                    url: '/RoleInFormPermission/OperationsMode',
                    data: JSON.stringify(master),
                    type: 'POST',
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function (data) {
                        if (data.Status == "Yes") {                           
                            OperationMsg(data.Mode);
                            toastr.success($("#MessageText").html());
                        }
                        else {
                            ErrorFrmServerMsg(data.Status);
                            toastr.warning($("#MessageText").html());
                        }

                    },
                    error: function () {
                        ErrorFrmClientMsg();
                        toastr.warning($("#MessageText").html());
                    },
                    // complete: function () { CompletedMsg(); },
                }); //End of ajax call
            }
            else {
                ValidationMsg();
                toastr.info($("#MessageText").html());
            }

        });
        var master = { "detailsList": [] };
        var details = { "RoleID": "", "SoftwareID": "", "ModuleID": "", "FormID": "", "ViewPermission": "", "SavePermission": "", "EditPermission": "", "DeletePermission": "", "PrintPermission": "" };
    });




</script>


        <div class="box-header with-border">@*Form Title*@
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> <div id="MessageText"></div></div>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <div style="text-align:right;">
                    <button id="btnReset" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-refresh"></i>Reset</button>
                    <button id="btnSave" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-save-file"></i>Save</button>
                    @*<button id="btnView" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-search"></i>View</button>*@
                    @*<button id="btnDelete" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-trash"></i>Delete</button>*@
                </div>
            </div>
            </div>

        <div class="box-body">@*Form Body Content*@
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon">Role:</span>
                        <select id="RoleID" class="form-control ">@*<option> </option>*@</select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div id="MainGrid" class="MainGrid"></div>
                   
                </div>
            </div>
        </div>
      <div class="box-footer">@*Form Footer*@</div>
<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;top: 0px; width: 100%; height: 100%; background-color:silver; z-index:10001;opacity: .8; filter: alpha(opacity=70);display:none">
    <p style="position: absolute; top: 50%; left: 50%; color: White;"><img src="~/Content/Images/loading1.gif" /> </p>
</div>