@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box-header with-border">
    @*Form Title*@
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> <div id="MessageText"></div></div>
        <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8">
            <div style="text-align:right;">

                <button id="btnSave" class="btn btn-primary btn-sm" type="button"><i class="glyphicon glyphicon-save-file"></i> Save</button>
                <button id="btnView" class="btn btn-primary btn-sm" type="button"><i class="glyphicon glyphicon-file"></i> View</button>
            </div>
        </div>
    </div>
</div>
<div class="box-body">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">Item Type:</div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <select id="FileType" name="FileType" class="RequiredField form-control">

                <option value="Sm">Sample Item</option>


            </select>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"> </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <div class="input-group">
                <span class="input-group-addon">Month - Year:</span>
                <span class="input-group-btn" style="width:2px;"></span>
                <select id="MonthNumber" name="MonthNumber" class=" RequiredField form-control"></select>
                <span class="input-group-btn" style="width:2px;"></span>
                <input type="text" id="Year" class="datepicker RequiredField form-control" />
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">Item  For:</div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <select id="ItemFor" name="ItemFor" class="RequiredField form-control">
                <option value="R">Regular</option>
                <option value="I">Intern</option>

            </select>
        </div>

    </div>

    <div class="row" hidden>
        <div class="col-lg-12">
            @*<input name="files" class="files" id="files" type="file" accept=".xlsx , .xls" />*@
            <input name="files" class="files" id="files" type="file" accept=".xls" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input name="files" class="files" id="Textfiles" type="file"  accept=".txt" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="MainGrid" class="MainGrid"></div>
        </div>
    </div>


    <div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
        <p style="position: absolute; top: 50%; left: 50%; color: White;">
            <img src="~/Content/Images/loading.gif" />
        </p>
    </div>
    <script src="~/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <link href="~/Content/CustomCSS/InputText.css" rel="stylesheet" />

    <script type="text/javascript">
        //// Start  $(document).ready(function ()
        $(document).ready(function () {

            $.ajaxSetup({
                beforeSend: function () {
                    $("#divLoading").show();
                },
                complete: function () {
                    $("#divLoading").hide();
                }

            });

            $(".datepicker").datepicker({
                format: " yyyy",
                viewMode: "years",
                minViewMode: "years",
                autoclose: true
            });
            $("#Year").val(yyyy);
            LoadMonth();

            var FileType = "";


            //$('#divIDFile').hide();

            EventPermission();
            $('#btnReset').click(function () {
                $('#MainGrid').data('kendoGrid').dataSource.filter([]);
                $('#MainGrid').data('kendoGrid').dataSource.data([]);


                $("#files").val('');
                $(".txtBox").css("border-color", "");
                $(".k-upload-files").remove();
                $(".k-upload-status").remove();
                $(".k-upload.k-header").addClass("k-upload-empty");
                $(".k-upload-button").removeClass("k-state-focused");
                ResetData();
                $("#Year").val(yyyy);

            });

            //***************view function*****************
            $('#btnView').click(function () {

                $('#MainGrid').data('kendoGrid').dataSource.filter([]);
                $('#MainGrid').data('kendoGrid').dataSource.data([]);

                FileType = $("#FileType").val();
                var MonthNumber = $("#MonthNumber").val();
                var Year = $("#Year").val();
                var ItemFor = $("#ItemFor").val();


                var Input = InputValidation('MonthNumber') + InputValidation('Year') + InputValidation('FileType');

                if (Input == 0) {

                    $.ajax({
                        type: "POST",
                        url: "/PromotionalItemUpload/GetGridData",
                        data: JSON.stringify({ FileType: FileType, MonthNumber: MonthNumber, Year: Year, ItemFor: ItemFor }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {
                            if (data.length > 0) {
                            $("#MainGrid").data("kendoGrid").dataSource.data(data);
                            }
                            else {
                                AcknowledgeMsg();
                                toastr.info($("#MessageText").html());
                            }
                        },

                    });
                }
                else {
                    ValidationMsg();
                    toastr.info($("#MessageText").html());
                }

            });


            function LoadMonth() {

                $.ajax({
                    url: '@Url.Action("GetGenMonth", "Default")',
                    type: 'GET',
                    dataType: 'JSON',
                    data: "{}",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $.each(data, function (i, item) {
                            $('#MonthNumber').append($('<option>', { value: item.MonthNumber, html: item.MonthName }, '<option/>'));
                        });
                    },
                    error: function () {
                        alert("Failed to load ... !!");
                    }
                });
            }





            //************************************ MPO Sample Product Mapping KENDO GRID *****************************************//

            //Initializing Main page details Kendo Grid Colums
            var MainGrid = $('#MainGrid').kendoGrid({
                dataSource: new kendo.data.DataSource({
                    batch: true,
                    schema: {
                        model: {
                            id: "ProductCode",
                            fields: {
                                ProductCode: { type: "string" },

                            }
                        }
                    },
                    pageSize: 10,
                }),
                pageable: {
                    //refresh: true,
                    pageSizes: true, buttonCount: 5
                },
                edit: function (e) {
                    $('input[name = "ProductCode"]').attr("readonly", true);
                    $('input[name = "ProductName"]').attr("readonly", true);

                    $('input[name = "Quantity"]').attr("readonly", true);
                    $('input[name = "MPGroup"]').attr("readonly", true);

                },
                scrollable: false,
                sortable: true,
                filterable: false,
                editable: true,
                selectable: "row",

                //toolbar: [{ name: "excel", text: "Format" }, { template: "<input type='text' id='txtSampleItem'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
                //excel: {
                //    fileName: "UploadFileFormat.xlsx",
                //    allPages: true,
                //    filterable: true
                //},
                navigatable: true,

                columnMenu: false,
                reorderable: true,
                resizable: true,
                columns: [
                     { field: "ProductCode", hidden: false, title: "ProductCode" },
                     { field: "ProductName", hidden: true, title: "ProductName" },
                     { field: "MPGroup", hidden: false, title: "Group" },

                     { field: "Quantity", hidden: false, title: "Quantity" },

                     { command: [{ name: "DeletedRow", text: "Remove", imageClass: "k-icon k-i-close", click: handleDeleteSampleItemMap }], title: "Remove", headerAttributes: { "class": "gridHeader", style: "font-weight: bold;font-size: 13px;text-align: center;" } }
                ]
            }).data('kendoGrid');




            //Produc Name twise Filter table row
            $("#txtSampleItem").keyup(function () {
                var val = $(this).val();
                $("#MainGrid").data("kendoGrid").dataSource.filter({
                    logic: "or",
                    filters: [
                        { field: "ProductCode", operator: "contains", value: val },
                        { field: "MPGroup", operator: "contains", value: val },


                    ]
                });
            });

            function handleDeleteSampleItemMap(event) {
                event.preventDefault();
                dataitem = MainGrid.dataItem($(event.currentTarget).closest("tr"));
                MainGrid.dataSource.remove(dataitem);
                //RemoveConfirmationMPOInstMap.open();
            };






            //************************************ END *****************************************//
            $("#FileType").change(function () {
                FileType = $("#FileType").val();


                $('#MainGrid').data('kendoGrid').dataSource.filter([]);
                $('#MainGrid').data('kendoGrid').dataSource.data([]);

                $("#files").val('');
                $(".txtBox").css("border-color", "");
                $(".k-upload-files").remove();
                $(".k-upload-status").remove();
                $(".k-upload.k-header").addClass("k-upload-empty");
                $(".k-upload-button").removeClass("k-state-focused");

                $('#divIDFile').show();


            });

            var gridInput = 0;


            function GridValidation1() {
                gridInput = 0;
                var dataSource = $("#MainGrid").data("kendoGrid").dataSource;
                data = dataSource.data(); // Get Detail Grid Data
                if (data.length > 0) {
                    for (var i = data.length - 1; i >= 0; i--) {
                        if ((data[i].ProductCode == "") || (data[i].ProductCode == null)) {
                            gridInput = 0;
                        }

                    }
                }
                else {
                    gridInput = 1;
                }
            }




            $('#btnSave').click(function () {

                //var model = { "FileType": "", "ItemList": [] };
                var model = {  };
                model.FileName = $('#Textfiles').val();
                model.MonthNumber = $('#MonthNumber').val();
                model.Year = $('#Year').val();

                    GridValidation1();


                model.ItemList = [];
                if (model.FileType != "" && gridInput == 0) {


                        var detailDataSampleItem = $('#MainGrid').data("kendoGrid").dataSource;
                        var detailData = detailDataSampleItem.data();
                        if (detailData.length > 0) {

                            for (var i = 0; i < detailData.length; i++) {
                                var detail = {};
                                detail.ProductCode = detailData[i].ProductCode;
                                detail.MPGroup = detailData[i].MPGroup;
                                detail.Quantity = detailData[i].Quantity;
                                detail.ItemFor = detailData[i].ItemFor;

                                //detail.ItemType = $('#FileType').val();
                                detail.ItemFor = $('#ItemFor').val();
                                detail.MonthNumber = $('#MonthNumber').val();
                                detail.Year = $('#Year').val();
                                detail.FileName = $('#Textfiles').val();
                                model.ItemList.push(detail);
                            }
                        }





                    $.ajax({
                        url: '/PromotionalItemSampleFormatDataUpload/OperationsMode',
                        data: JSON.stringify(model),
                        type: 'POST',
                        contentType: 'application/json;',
                        dataType: 'json',
                        success: function (data) {
                            if (data.Status == "Yes") {
                                OperationMsg(data.Mode);
                                toastr.success($("#MessageText").html());
                            }
                            else {
                                ErrorFrmServerMsg(data.Status);
                                toastr.warning($("#MessageText").html());
                            }

                        },
                        error: function () {
                            ErrorFrmClientMsg();
                            toastr.warning($("#MessageText").html());
                        },
                        // complete: function () { CompletedMsg(); },
                    }); //End of ajax call

                }

                else {
                    ValidationMsg();
                    toastr.warning($("#MessageText").html());
                }

            });

        });



    //************************************  UPLOAD EXCELL FILE INTO KENDO GRID *****************************************//

        function onSelect(e) {
            //  kendoConsole.log("Select :: " + getFileInfo(e));
        }

        function onUpload(e) {
            //  kendoConsole.log("Upload :: " + getFileInfo(e));
        }

        function onSuccess(e) {
            var FileType = $("#FileType").val();

           $.ajax({
                url: '@Url.Action("LoadExcelFile", "PromotionalItemSampleFormatDataUpload")',
                type: 'GET',
                data: { "fileName": $("#files").val(), FileType: FileType },
                success: function (data) {

                    if (data != "") {
                        $("#MainGrid").data("kendoGrid").dataSource.data(data);
                        AcknowledgeMsg();
                        toastr.success("Excel File Uploaded Successfully");

                    }
                    else {
                        AcknowledgeMsg();
                        toastr.error("Failed to Upload Excel File");

                    }


                } //End of success call
            });

        }

        function onError(e) {
            //$('#MessageText').html(respnse.msg.Msg);
            //alert(e.Msg);
        }

        function onComplete(e) {
            // kendoConsole.log("Complete");
        }

        function onCancel(e) {
            //  kendoConsole.log("Cancel :: " + getFileInfo(e));
        }

        function onRemove(e) {
            // kendoConsole.log("Remove :: " + getFileInfo(e));
        }

        function onProgress(e) {
            //kendoConsole.log("Upload progress :: " + e.percentComplete + "% :: " + getFileInfo(e));
        }











        function onSuccess2(e) {
            var FileType = $("#FileType").val();

           $.ajax({
                url: '@Url.Action("LoadTextFile", "PromotionalItemSampleFormatDataUpload")',
                type: 'GET',
                data: { "fileName": $("#files").val(), FileType: FileType },
                success: function (data) {

                    if (data != "") {
                        $("#MainGrid").data("kendoGrid").dataSource.data(data);
                        AcknowledgeMsg();
                        toastr.success("Excel File Uploaded Successfully");

                    }
                    else {
                        AcknowledgeMsg();
                        toastr.error("Failed to Upload Excel File");

                    }


                } //End of success call
            });

        }
        $(document).ready(function () {
            $("#files").kendoUpload({
                async: {
                    saveUrl: "UploadFile",
                    removeUrl: "Remove",
                    autoUpload: true
                },
                cancel: onCancel,
                complete: onComplete,
                error: onError,
                progress: onProgress,
                remove: onRemove,
                select: onSelect,
                success: onSuccess,
                upload: onUpload
            });



            $("#Textfiles").kendoUpload({
                async: {
                    saveUrl: "TextFileUpload",
                    removeUrl: "Remove",
                    autoUpload: true
                },

                success: onSuccess2,

            });
        });





    </script>



