@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/AdminLTE/plugins/jQuery/jquery-2.2.3.min.js"></script>
<link href="~/Content/CSS/InputText.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {

        //if (window.history.forward(1) != null)
        //    window.history.forward(1);

        $.ajaxSetup({
            beforeSend: function () {
                $("#divLoading").show();
            },
            complete: function () {
                $("#divLoading").hide();
            }
        });

        EventPermission();

        $('#btnReset').click(function () {

            $(":checkbox").prop('checked', false);
            //  $('.chk').prop('checked', false);
            ResetData();



        });

        $('#btnView').click(function () {
            PopupWindow.center();
            PopupWindow.open();
           
            $.ajax({
                url: '/Module/GetModule',
                method: 'get',
                data: 'json',
                success: function (data) {
                    if (data != "") {
                        $('#PopupWindowGrid').data('kendoGrid').dataSource.data(data);
                    }
                    else {
                        PopupWindow.close();
                        AcknowledgeMsg();
                        toastr.info($("#MessageText").html());
                    }

                },
                error: function () {
                    alert('Error occured!');
                },
                //complete: function () { },
            });

        });
      
        //Initializing Main page details Kendo Grid Colums
        var PopupGrid = $('#PopupWindowGrid').kendoGrid({
            dataSource: new kendo.data.DataSource({
                batch: true,
                schema: {
                    model: {
                        id: "ModuleID",
                        fields: {
                            ModuleID: { type: "string" },
                            ModuleName: { type: "string" }
                        }
                    }
                },
                pageSize: 10,
            }),
            pageable: {
                //refresh: true,
                pageSizes: true, buttonCount: 5
            },
            dataBound: function (e) {
                AutoFitColumn(this.element[0].id);
            },
            scrollable: true,
            sortable: false,
            filterable: false,
            editable: false,
            selectable: "row",
            //selectable: "multiple",
            toolbar: [{ template: "<input type='text' id='txtInput'  style='float:right' placeholder='Search...' class='k-textbox'>" }, ],
            navigatable: true,
            columnMenu: false,
            reorderable: false,
            resizable: false,
            resize: function (e) {
                this.table.height(this.element.height() + this.table.height() - 1);
            },
            columns: [
                 { field: "ModuleID", title:"SubHead ID",hidden:true},
                 { field: "ModuleName", title: "SubHead Name" },
                 { field: "IsActive", title: "IsActive"}

            ]

        }).data('kendoGrid');

        $('#PopupWindowGrid').dblclick(function () {
            var grid = $(this).data('kendoGrid');
            var selectRow = grid.dataItem(grid.select());
            PopupWindow.close();
            SetMasterData(selectRow);

            $('#IsActive').prop('checked', selectRow.IsActive);
        });

        //Produc Name twise Filter table row
        $("#txtInput").keyup(function () {
            var val = $(this).val();
            $("#PopupWindowGrid").data("kendoGrid").dataSource.filter({
                logic: "or",
                filters: [
                     { field: "ModuleID", operator: "contains", value: val },
                     { field: "ModuleName", operator: "contains", value: val },            
                   //  { field: "IsActive", operator: "contains", value: val },

                ]
            });
        });




        var chkValue = true;
        $('#IsActive').click(function () {
            if ($(this).is(':checked')) { chkValue = $('#IsActive').prop('checked'); }
            else { chkValue = $('#IsActive').prop('checked'); }
        });
        $('#btnSave').click(function () {
            var Input = InputValidation('ModuleName');

            if (Input == 0) {
                master.ModuleID = $('#ModuleID').val();
                master.ModuleName = $('#ModuleName').val();
                master.IsActive = chkValue;



                $.ajax({
                    url: '/Module/OperationsMode',
                    data: JSON.stringify(master),
                    type: 'POST',
                    contentType: 'application/json;',
                    dataType: 'json',
                    success: function (data) {
                        if (data.Status == "Yes") {
                            $("#ModuleID").val(data.ID);
                            OperationMsg(data.Mode);
                            toastr.success($("#MessageText").html());
                        }
                        else {
                            ErrorFrmServerMsg(data.Status);
                            toastr.warning($("#MessageText").html());
                        }

                    },
                    error: function () {
                        ErrorFrmClientMsg();
                        toastr.warning($("#MessageText").html());
                    },
                    // complete: function () { CompletedMsg(); },
                }); //End of ajax call
            }
            else {
                ValidationMsg();
                toastr.info($("#MessageText").html());
            }

        });
        var master = { "ModuleID": "", "ModuleName": "", "IsActive": "" };
    });
</script>




        <div class="box-header with-border"> @*Form Title*@          
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4"> <div id="MessageText"></div></div>
            <div class="col-xs-0 col-sm-0 col-md-8 col-lg-8">
                <div style="text-align:right;">
                    <button id="btnReset" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-refresh"></i>Reset</button>
                    <button id="btnSave" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-save-file"></i>Save</button>
                    <button id="btnView" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-search"></i>View</button>
                    @*<button id="btnDelete" class="btn btn-primary btn-lg" type="button"><i class="glyphicon glyphicon-trash"></i>Delete</button>*@
                </div>
            </div>
        </div>
        <div class="box-body">@*Form Body Content*@
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">SubHead Name:</div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"><input type="text" id="ModuleName" name="ModuleName" placeholder="SubHead Name" class="RequiredField form-control" oninput="this.value = this.value.replace(/[^a-zA-Z]/g, '');" /></div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"><input type="hidden" id="ModuleID" name="ModuleID" readonly="readonly" class="form-control" /></div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3"><input type="checkbox" id="IsActive" class="chk" name="IsActive" checked="checked"> IsActive</div>
               
            </div>
        </div>
<div id="divLoading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;top: 0px; width: 100%; height: 100%; background-color:silver; z-index:10001;opacity: .8; filter: alpha(opacity=70);display:none">
    <p style="position: absolute; top: 50%; left: 50%; color: White;"><img src="~/Content/Images/loading1.gif" /> </p>
</div>
     <div class="box-footer">@*Form Footer*@</div>
<div class="row">
    <div id="PopupWindow" class="PopupWindowLayout" style="display: none;">
        <div id="PopupWindowGrid" class="PopUpGrid"></div>
    </div>
</div>


